{% extends "base.html" %} 
{% block content-header %}
{% include 'add-device-property.html' %}
{% include 'edit-device-property.html' %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> ĐƯỜNG NGANG <span> Kiểm tra tập lệnh</span>
	</h2>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/css/increment-asset.css" />
<link rel="stylesheet" href="/css/bootstrap-fileupload.min.css" />
<style>
#log {
	color: #cc0000;
	font-size: 12px;
	border: 1px solid #617775;
	background: #f0f6e4;
	height:400px;
	overflow-y: scroll;
	overflow-x: auto;
	padding: 5px;
}
</style>
{% endblock styles%}
{% block content %}
<div class="contentpanel">
	<div class="panel panel-default">
		<div class="panel-body" style="padding: 0px;">
			<div class="table-responsive">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="panel-body" style="padding: 0px;">
								{% if has_error %}
									<label id="codeError" class="error" style="margin-top: 2%;margin-left: 3%;">{{ has_error }} </label>
								{% endif %}
								<div class="row">
									<div class="col-md-12" style="padding-left: 0px;">
										<div class="form-group">
											<label class="col-sm-12 control-label">Địa chỉ:</label>
											<div class="col-sm-12">
												<input type="text" id="txtAddress" name="txtAddress" value="113.160.52.194:9889" class="form-control"
													style="padding: 8px;"
													placeholder="<Địa chỉ>" maxlength="50" required>
											</div>
										</div>
									</div>
									<div class="col-md-12" style="padding-left: 0px;">
										<div class="col-sm-4">
											<button class="btn btn-default" id="btnConnect" onclick="onConnect();" style="float: left;width: 109px;">Kết nối</button>
										</div>
										<div class="col-sm-8">
											<button class="btn btn-default" id="btnDisconect" onclick="onDisconnect();" style="float: right;" disabled>Ngắt kết nối</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12" style="padding-left: 0px;">
										<div class="form-group">
											<label class="col-sm-12 control-label">Đường ngang:</label>
											<div class="col-sm-12">
												<select name='slDevice' id="slDevice" data-placeholder="Chọn đường ngang" class="form-control chosen-select" required style="padding: 8px;" disabled>
													<option value=""></option>
													{% for device in devices %}
														<option value="{{ device.id }}" device_name="{{ device.name }}" device_id="{{ device.id }}" device_mac="{{ device.mac_add }}">{{ device.name }}-{{ device.route.name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row" style="margin-top: 5px;">
									<div class="col-sm-12" style="padding-left: 0px;">
										<div class="form-group">
											<label class="col-sm-12 control-label">Tập lệnh:</label>
											<div class="col-sm-12">
												<textarea rows="3" class="form-control"
													placeholder="<Nội dung tập lệnh>" name="txtContent" id="txtContent" required disabled></textarea>
											</div>
										</div>
									</div>
									<div class="col-sm-12" style="padding-left: 0px;">
										<div class="col-sm-12">
											<button class="btn btn-primary" id="btnSubmit" onclick="onSend();" style="float: left;" disabled>Thực hiện</button>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-8" style="padding-left: 0px;" >
							<div class="panel panel-default">
								<div class="panel-body"  style="min-height: 300px">
									<div id="log"></div>
									<button class="btn btn-default" onclick="onClear();" style="float: left; margin-top:10px ">Xóa lịch sử</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- table-responsive -->
		</div>
		<!-- panel-body -->
	</div>
	<!-- panel -->
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>
<script src="/js/jquery.numeric.js"></script>

<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery.numeric.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script>

	jQuery(document).ready(function()
	{
		//Chosen Select
		jQuery(".chosen-select").chosen({
			'width' : '100%',
			'white-space' : 'nowrap',
			disable_search_threshold : 20
		});
		//change slRoute
		$('#slDevice').change(function()
		{
			$("#btnSubmit").prop('disabled', false);
			$("#txtContent").prop('disabled', false);
			mac_address=$(this).find('option:selected').attr("device_mac");
			device_id=$(this).find('option:selected').attr("device_id");
			doSend('{"handle":"connect_device","device_id":'+ parseInt(device_id.toString()) +',"MAC":"'+mac_address.toString()+'"}');
		});
	});

	var wsUri = "ws://113.160.52.194:9889";
	var output;
	var websocket;
	var mac_address="";
	var device_id="";
	
	function init()
	{
		output = document.getElementById("log");
		websocket= new WebSocket(wsUri);
		testWebSocket();
	}

	function testWebSocket()
	{
		websocket = new WebSocket(wsUri);
		websocket.onopen = function(evt)
		{
			onOpen(evt)
		};
		websocket.onclose = function(evt)
		{
			onClose(evt)
		}; 
		websocket.onmessage = function(evt)
		{
			onMessage(evt)
		};
		websocket.onerror = function(evt)
		{
			onError(evt)
		};
	}
	function onOpen(evt)
	{
		writeToScreen("CONNECTED");
		doSend('{"handle":"announce"}');
	}
	function onClose(evt)
	{
		$("#btnConnect").prop('disabled', false);
		$("#btnDisconect").prop('disabled', true);
		$('#slDevice').prop("disabled", true);
		$("#btnSubmit").prop('disabled', true);
		$("#txtContent").prop('disabled', true);
		
		$("#slDevice").prop("selectedIndex", -1).chosen('destroy').chosen();
		writeToScreen("DISCONNECTED");
	}
	function onMessage(evt)
	{
		writeToScreen('<span style="color: blue;">' + evt.data
				+ '</span>');
	}
	function onError(evt)
	{
		writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
	}
	function doSend(message)
	{
		writeToScreen("SENT: " + message);
		websocket.send(message);
	}
	function writeToScreen(message)
	{
		var pre = document.createElement("p");
		pre.style.wordWrap = "break-word";
		pre.innerHTML = message;
		output.appendChild(pre);
	}
	
	
	function onConnect()
	{
		$("#btnConnect").prop('disabled', true);
		$("#btnDisconect").prop('disabled', false);
		$('#slDevice').prop("disabled", false);
		$("#slDevice").prop("selectedIndex", -1).chosen('destroy').chosen();
		init();
	}
	function onDisconnect()
	{
		websocket.close();
	}
	function onSend()
	{
		var value =$("#txtContent").val();
		doSend('{"handle":"send_cmd","device_id":'+ parseInt(device_id.toString()) +',"body":"'+value.toString()+'"}');
	}
	function onClear()
	{
		$("#log").empty();
	}
</script>
{% endblock scripts%}