<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!-- <servlet>
		<description></description>
		<display-name>AlarmWebsocket</display-name>
		<servlet-name>AlarmWebsocket</servlet-name>
		<servlet-class>com.ar.service.AlarmWebsocket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlarmWebsocket</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<description></description>
		<display-name>MarketingService</display-name>
		<servlet-name>MarketingService</servlet-name>
		<servlet-class>com.ar.service.MarketingService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarketingService</servlet-name>
		<url-pattern>/MarketingService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AreaService</display-name>
		<servlet-name>AreaService</servlet-name>
		<servlet-class>com.ar.service.AreaService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AreaService</servlet-name>
		<url-pattern>/AreaService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeviceServices</display-name>
		<servlet-name>DeviceServices</servlet-name>
		<servlet-class>com.ar.service.DeviceServices</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceServices</servlet-name>
		<url-pattern>/DeviceServices</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PermissionService</display-name>
		<servlet-name>PermissionService</servlet-name>
		<servlet-class>com.ar.service.PermissionService</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AuthorizationService</display-name>
		<servlet-name>AuthorizationService</servlet-name>
		<servlet-class>com.ar.service.AuthorizationService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorizationService</servlet-name>
		<url-pattern>/AuthorizationService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PermissionService</servlet-name>
		<url-pattern>/PermissionService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GatewayService</display-name>
		<servlet-name>GatewayService</servlet-name>
		<servlet-class>com.ar.service.GatewayService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GatewayService</servlet-name>
		<url-pattern>/GatewayService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReportService</display-name>
		<servlet-name>ReportService</servlet-name>
		<servlet-class>com.ar.service.ReportService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportService</servlet-name>
		<url-pattern>/ReportService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserService</display-name>
		<servlet-name>UserService</servlet-name>
		<servlet-class>com.ar.service.UserService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserService</servlet-name>
		<url-pattern>/UserService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserManagementService</display-name>
		<servlet-name>UserManagementService</servlet-name>
		<servlet-class>com.ar.service.UserManagementService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManagementService</servlet-name>
		<url-pattern>/UserManagementService</url-pattern>
	</servlet-mapping>
	<!-- Device management -->
	<servlet>
		<description></description>
		<display-name>DeviceManagementService</display-name>
		<servlet-name>DeviceManagementService</servlet-name>
		<servlet-class>com.ar.service.DeviceManagementService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceManagementService</servlet-name>
		<url-pattern>/DeviceManagementService</url-pattern>
	</servlet-mapping>
</web-app>