{% extends "base.html" %} 
{% block styles %}
	<link href="css/chart.css" rel="stylesheet">
{% endblock %}
{% block content-header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> Quản lý phòng máy <span>Danh sách phòng máy
			hệ thống</span>
	</h2>
	<div class="breadcrumb-wrapper">
		<a class="btn btn-success" href="/add-device">Thêm phòng máy</a>
	</div>
	<!-- <div class="breadcrumb-wrapper">
			<span class="label">You are here:</span>
			<ol class="breadcrumb">
				<li><a href="index.html">Bracket</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div> -->
</div>
{% endblock %}
{% block content %}
<div class="contentpanel">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover" id="table2">
					<thead>
						<tr>
							<th>Tên</th>
							<th>Địa chỉ</th>
							<th style="width: 20%;">Đơn vị</th>
							<th>MAC</th>
							<th >Server</th>
							<th style="width: 10%;">Sửa|Xóa</th>
						</tr>
					</thead>
					<tbody>
						{% for device in devices %}
						<tr class="odd gradeX" id="{{ device.id }}">
							<td>{{ device.code }}</td>
							<td><a href="#">{{ device.address }}</a></td>
							<td>{{ device.name }}</td>
							<td>{{ device.mac_add }}</td>
							<td class="center">{{ device.connected_server }}</td>
							<td class="table-action">
								<a href="/edit-device?device_id={{ device.id }}"><i class="fa fa-pencil"></i></a>
								<a href="#" onclick="onDeleteDevice('{{ device.id }}');" class="delete-row"><i class="fa fa-trash-o"></i></a>
								<form method="post" id="DeleteDevice{{ device.id }}" action="/edit-device">
									{% csrf_token %}
									<input type="hidden" name="hd_device_id" value="{{ device.id }}">
									<input type="hidden" name="type" value="deleteDevice">
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->

		</div>
		<!-- panel-body -->
	</div>
	<!-- panel -->
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/jquery.datatables.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>

<script src="js/flot/jquery.flot.js"></script>

<script src="js/custom.js"></script>
<script src="js/device-infor.js"></script>
<script src="js/jquery.confirm.js"></script>
<script>
	jQuery(document).ready(function() {

		jQuery('#table2').dataTable({
			"sPaginationType" : "full_numbers"
		});
		// Chosen Select
		jQuery("select").chosen({
				'min-width' : '150px',
				'white-space' : 'nowrap',
				disable_search_threshold : 10
			});
		$('#table2 tbody tr').click(function()
		{
			var device_id = $(this).attr('id');
			onGetDeviceInfor(device_id);
		});
		onGetDeviceInfor({{ devices.0.id }});
		
		
		jQuery(window).load(function(){ 
			$(".numberic").numeric();
			
		});
	});
	function onDeleteDevice(device_id)
	{
		$.confirm({
			text: "Xóa bản ghi?",
			confirm: function(button) {
				jQuery('#DeleteDevice'+device_id).submit();
			},
			cancel: function(button) {
				
			}
		});
	}
</script>
{% endblock scripts%}
