{% extends "base.html" %} 
{% block content-header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> Đường ngang <span>Danh sách đầu đo - loại đường ngang</span>
	</h2>
</div>
{% endblock %}
{% block content %}
<div class="modal fade" id="modalFade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Thêm loại đường ngang</h4>
			</div>
			<div class="panel panel-default">
				<form id="addDeviceType">
					<div class="panel-body" style="padding-top: 0px;padding-bottom: 0px;">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Đường ngang:</label>
									<div class="col-sm-12">
										<input type="text" readonly id="txtDeviceType" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Loại đầu đo:</label>
									<div class="col-sm-12">
										<select name='slMType' id="slMType" class="form-control chosen-select" >
											<option value="1" >Môi trường</option>
											<option value="2" >Chuông đèn</option>
											<option value="3" >Đầu vào</option>
											<option value="4" >Đầu ra</option>
											<option value="5" >Xung nhịp</option>
											<option value="6" >Test</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Mã đầu đo:</label>
									<div class="col-sm-12">
										<input type="text" id="txtCode" name="txtCode" class="form-control"
											placeholder="<Mã>" required>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Tên đầu đo:</label>
									<div class="col-sm-12">
										<input type="text" id="txtName" name="txtName" class="form-control"
											placeholder="<Tên>" required>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Min:</label>
									<div class="col-sm-12">
										<input type="text" id="txtMin" name="txtMin" class="form-control numberic"
											placeholder="<Min>" required>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Max:</label>
									<div class="col-sm-12">
										<input type="text" id="txtMax" name="txtMax" class="form-control numberic"
											placeholder="<Max>" required>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Ngưỡng dưới:</label>
									<div class="col-sm-12">
										<input type="text" id="txtMinAlarm" name="txtMinAlarm" class="form-control numberic"
											placeholder="<Ngưỡng dưới>" required>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Ngưỡng trên:</label>
									<div class="col-sm-12">
										<input type="text" id="txtMaxAlarm" name="txtMaxAlarm" class="form-control numberic"
											placeholder="<Ngưỡng trên>" required>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Kiểu:</label>
									<div class="col-sm-12">
										<select name='slType' id="slType" class="form-control chosen-select" >
											<option value="1" >ON/OFF</option>
											<option value="3" >OFF/ON</option>
											<option value="4" >ON/OFF no alarm</option>
											<option value="2" >Cảm biến</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-12 control-label">Ký hiệu:</label>
									<div class="col-sm-12">
										<input type="text" id="txtSymbol" name="txtSymbol" class="form-control"
											placeholder="<Ký hiệu>" required>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button style="min-width: 100px;margin-right: 5px;float: right;" 
					type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
				<button style="min-width: 100px;margin-right: 5px;float: right;"
					type="button" class="btn btn-primary" id="btnSave">Lưu</button>
			</div>
		</div>
	</div>
</div>

<div class="contentpanel">
	<div class="row">
		<div class="col-lg-12" style="margin-bottom: 10px">
			<div class="col-sm-6">
				<select name='slDeviceType' id="slDeviceType" class="form-control chosen-select" >
					{% for type in types %}
						<option value="{{ type.id }}" >{{ type.code }} - {{ type.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-6">
				<a id="btnAdd" class="btn btn-success" style="min-width: 100px;margin: 5px;float: left;">Thêm</a>
				<a id="btnEdit" class="btn btn-warning" style="min-width: 100px;margin: 5px;float: left;">Sửa</a>
				<a id="btnDelete" class="btn btn-danger" style="min-width: 100px;margin: 5px;float: left;" data-toggle="modal" data-target="#delete-properties">Xóa</a>
			</div>
			
		</div>
		<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table" id="tblProperty">
					<thead>
						<tr>
							<th>Loại đầu đo</th>
							<th>Mã đầu đo</th>
							<th>Tên đầu đo</th>
							<th>Kiểu</th>
							<th>Min</th>
							<th>Max</th>
							<th>Ngưỡng trên</th>
							<th>Ngưỡng dưới</th>
							<th>Ký hiệu</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.datatables.min.js"></script>

<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>

<script src="/js/custom.js"></script>

<script src="/js/jquery.numeric.js"></script>

<script src="/js/message.js"></script>
<script src="/js/loading.js"></script>



<script>
	jQuery(document).ready(function() {
		$(".numberic").numeric({ negative : false });
		var tblProperty = $('#tblProperty').dataTable({
			"bInfo":false,
			"bRetrieve": true,
			"bFilter":false,
			"bLengthChange": false,
			"sPaginationType" : "full_numbers",
			"oLanguage":
			{
				"sLengthMenu":"Hiển thị _MENU_ bản ghi",
				"sInfo": "Hiển thị _START_ tới _END_ trong _TOTAL_ bản ghi",
				"oPaginate": 
				{
					"sFirst":      "<<",
					"sLast":       ">>",
					"sNext":       ">",
					"sPrevious":   "<"
				},
				"sSearch":"",
			}
		});
		
		var property_id;
		var device_type_id;
		var action;
		$(".table-responsive select").chosen({
			'min-width' : '150px',
			'white-space' : 'nowrap',
			'disable_search_threshold' : 10
		});
		$('#slDeviceType').on('change',function(){
			var device_type_id = $(this).val();
			showPropertiesList(device_type_id);
		});
		
		showPropertiesList($('#slDeviceType').val());
		
		$('#btnAdd').on('click',function(){
			showModal('ADD');
		});
		
		$('#btnEdit').on('click',function(){
			if(typeof property_id == 'undefined')
				return;
			showModal('EDIT');
		});
		
		function showModal(action)
		{
			action = action;
			if(action == 'ADD')
			{
				$("#modalFade .modal-title").html('Thêm đầu đo');
				//clear value
				$("#txtDeviceType").val($("#slDeviceType option:selected").text());
				$("#slMType").val("");
				$("#txtCode").val("");
				$("#txtName").val("");
				$("#txtMin").val("");
				$("#txtMax").val("");
				$("#txtMinAlarm").val("");
				$("#txtMaxAlarm").val("");
				$("#slType").val("2");
				$("#txtSymbol").val("");
			}	
				
			else if(action == 'EDIT')
			{
				var selectedRow = $("#tblProperty tbody tr[id][id='"+ property_id +"']");
				//
				$("#modalFade .modal-title").html('Sửa đầu đo');
				//load value
				$("#txtDeviceType").val($("#slDeviceType option:selected").text());
				$("#slMType").val(selectedRow.children().eq(0).attr('value'));
				$("#txtCode").val(selectedRow.children().eq(1).html());
				$("#txtName").val(selectedRow.children().eq(2).html());
				$("#txtMin").val(selectedRow.children().eq(4).html());
				$("#txtMax").val(selectedRow.children().eq(5).html());
				$("#txtMinAlarm").val(selectedRow.children().eq(6).html());
				$("#txtMaxAlarm").val(selectedRow.children().eq(7).html());
				$("#slType").val(selectedRow.children().eq(3).attr('value'));
				$("#txtSymbol").val(selectedRow.children().eq(8).html());
			}
			updateOnchange();	
			$("#modalFade").modal();
		}
		$("#btnSave").on('click',function(){
			$.fn.loading.show();
			var csrftoken = $.cookie('csrftoken');
			var url = "";
			if(action == "ADD")
				url = "/device/type/properties/add/";
			else (action == "EDIT")
				url = "/device/type/properties/edit/";
			var posting = $.post(url, {
				'csrfmiddlewaretoken' : csrftoken,
				'device_type_id' : device_type_id,
				'property_id' : property_id,
				'code' : $("#txtCode").val(),
				'name' : $("#txtName").val(),
				'min' : $("#txtMin").val(),
				'max' : $("#txtMax").val(),
				'min_alarm' : $("#txtMinAlarm").val(),
				'max_alarm' : $("#txtMaxAlarm").val(),
				'symbol' : $("#txtSymbol").val(),
				'type' : $("#slType option:selected").val(),
				'm_type' : $("#slMType option:selected").val(),
			});
			posting.done(function(data) 
			{
				if(data.handle=='error')
				{
					$.message.notification(data.msg,"center",{"class_name":"alert alert-danger"});
				}
				else if(data.handle=='success')
				{
					$.message.notification("Cập nhật thành công","center");
					$('#modalFade').modal('hide');
					showPropertiesList($('#slDeviceType').val());
				}
				
			});
		});
		$("#btnDelete").on('click',function(){
			message = $.message. confirm ("Ban muon xoa di dau do!");
			message.on('message.confirm',function(){
				$.fn.loading.show();
				var csrftoken = $.cookie('csrftoken');
				var url = "/device/type/properties/delete/";
				var posting = $.post(url, {
					'csrfmiddlewaretoken' : csrftoken,
					'device_type_id' : device_type_id,
					'property_id' : property_id,
				});
				posting.done(function(data) 
				{
					if(data.handle=='error')
					{
						$.message.notification(data.msg,"center",{"class_name":"alert alert-danger"});
					}
					else if(data.handle=='success')
					{
						$.message.notification("Cập nhật thành công","center");
						showPropertiesList($('#slDeviceType').val());
					}
				});
			});
		})
		$("#slType").on('change',function(){
			updateOnchange();
		});
		function updateOnchange()
		{
			var type = $("#slType option:selected").val();
			if(type == '2')
			{
				$("#txtMin").prop("readonly",false);
				$("#txtMax").prop("readonly",false);
				$("#txtMinAlarm").prop("readonly",false);
				$("#txtMaxAlarm").prop("readonly",false);
				$("#txtSymbol").prop("readonly",false);
			}
			else
			{
				$("#txtMin").prop("readonly",true);
				$("#txtMax").prop("readonly",true);
				$("#txtMinAlarm").prop("readonly",true);
				$("#txtMaxAlarm").prop("readonly",true);
				$("#txtSymbol").prop("readonly",true);
			}
			if(type == '1')
			{
				$("#txtMin").val("0");
				$("#txtMax").val("2");
				$("#txtMinAlarm").val("0");
				$("#txtMaxAlarm").val("2");
				$("#txtSymbol").val("");
			}
			else if(type == '3')
			{
				$("#txtMin").val("0");
				$("#txtMax").val("0");
				$("#txtMinAlarm").val("-1");
				$("#txtMaxAlarm").val("1");
				$("#txtSymbol").val("");
			}
			else if(type == '4')
			{
				$("#txtMin").val("0");
				$("#txtMax").val("0");
				$("#txtMinAlarm").val("-999");
				$("#txtMaxAlarm").val("999");
				$("#txtSymbol").val("");
			}
		}
		function showPropertiesList(device_type_id)
		{
			device_type_id = device_type_id;
			$.fn.loading.show();
			var csrftoken = $.cookie('csrftoken');
			var posting = $.post("/device/type/properties/list/", {
				'csrfmiddlewaretoken' : csrftoken,
				'device_type_id' : device_type_id
			});
			posting.done(function(data) 
			{
				if(data.handle=='error')
				{
					$.message.notification(data.msg,"center",{"class_name":"alert alert-danger"});
				}
				else if(data.handle=='success')
				{
					if(typeof tblProperty !== 'undefined')
						tblProperty.fnDestroy();
					var tbody = $('#tblProperty tbody');
					tbody.empty();
					//properties
					properties = data.properties;
					//add row
					for(var i=0;i<properties.length;i++)
					{
						var property = properties[i];
						var td = $('<td />');
						var row = $('<tr'+ ' id="'+ property.id +'"'+'></tr>');
						if(property.m_type == '1')
							td.html('Môi trường');
						else if(property.m_type == '2')
							td.html('Chuông đèn');
						else if(property.m_type == '3')
							td.html('Đầu vào');
						else if(property.m_type == '4')
							td.html('Đầu ra');
						else if(property.m_type == '5')
							td.html('Xung nhịp');
						else if(property.m_type == '6')
							td.html('Test');
						else
							td.html('');
						td.attr('value',property.m_type);
						row.append(td);
						row.append($('<td>'+ property.code +'</td>'));
						row.append($('<td>'+ property.name +'</td>'));
						td = $('<td />');
						if(property.type == '1')
							td.html('ON/OFF');
						else if(property.type == '2')
							td.html('Cảm biến');
						else if(property.type == '3')
							td.html('OFF/ON');
						else if(property.type == '4')
							td.html('ON/OFF no alarm');
						else
							td.html('');
						td.attr('value',property.type);
						row.append(td);
						row.append($('<td>'+ property.min +'</td>'));
						row.append($('<td>'+ property.max +'</td>'));
						row.append($('<td>'+ property.min_alarm +'</td>'));
						row.append($('<td>'+ property.max_alarm +'</td>'));
						row.append($('<td>'+ property.symbol +'</td>'));
						tbody.append(row);
					}
					$('#tblProperty tbody tr').on('click',function()
					{
						property_id = $(this).attr('id');
						$("#tblProperty tbody tr[id][id='"+ property_id +"']").css('background-color','#8EE2BC');
						$("#tblProperty tbody tr[id][id!='"+ property_id +"']").css('background-color','#fff');
					});
					//init
					tblProperty = $('#tblProperty').dataTable({
						"bInfo":false,
						"bFilter":false,
						"bRetrieve": true,
						"bLengthChange": false,
						"sPaginationType" : "full_numbers",
						"oLanguage":
						{
							"sLengthMenu":"Hiển thị _MENU_ bản ghi",
							"sInfo": "Hiển thị _START_ tới _END_ trong _TOTAL_ bản ghi",
							"oPaginate": 
							{
								"sFirst":      "<<",
								"sLast":       ">>",
								"sNext":       ">",
								"sPrevious":   "<"
							},
							"sSearch":"",
						}
					});
					
					$('#tblProperty tbody tr').first().click();
				}
				$.fn.loading.hide();
			});
		};
	});
</script>
{% endblock scripts%}
