{% extends "base.html" %} 
{% block content-header %}
{% include 'add-device-property.html' %}
{% include 'edit-device-property.html' %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> Danh sách địa bàn <span> </span>
	</h2>
	<div class="breadcrumb-wrapper">
		<a class="btn btn-success" href="/add-area">Thêm địa bàn</a>
	</div>
	<!-- <div class="breadcrumb-wrapper">
			<span class="label">You are here:</span>
			<ol class="breadcrumb">
				<li><a href="index.html">Bracket</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div> -->
</div>
{% endblock %}
{% block content %}
<div class="contentpanel">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover" id="table2">
					<thead>
						<tr>
							<th>Tên địa bàn </th>
							<th>Mã</th>
							<th>Tên cha</th>
							<th>Địa chỉ</th>
							<th>Trạng thái</th>
							<th>Sửa|Xóa</th>
						</tr>
					</thead>
					<tbody>
						{% for area in lsArea %}
						<tr class="odd gradeX">
							<td devicePropertyId ="name{{ area.id }}" name="{{ area.name }}">{{ area.name }}</td>
							<td devicePropertyId ="code{{ area.id }}" code="{{ area.code }}">{{ area.code }}</td>
							<td devicePropertyId ="code{{ area.id }}" description="{{ area.code }}">{{ area.parent.name }}</td>
							<td devicePropertyId ="full_name{{ area.id }}" type="{{ area.full_name }}"> {{ area.full_name}}</td>
							<td devicePropertyId ="status{{ area.id }}" min="{{ area.id }}">{% if area.status = "1" %} Kích hoạt {% else %} Không kích hoạt {% endif %}</td>
							<td class="table-action">
								<a href="/edit-area?area_id={{ area.id }}"><i class="fa fa-pencil"></i></a>
								<a href="#" onclick="onDeleteArea('{{ area.id }}');" class="delete-row"><i class="fa fa-trash-o"></i></a>
								<form method="post" id="DeleteArea{{ area.id }}" action="/edit-area">
									{% csrf_token %}
									<input type="hidden" name="hd_area" value="{{ area.id }}">
									<input type="hidden" name="type" value="deleteArea">
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->

		</div>
		<!-- panel-body -->
	</div>
	<!-- panel -->
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/jquery.datatables.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/jquery.numeric.js"></script>
<script src="js/custom.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.confirm.js"></script>
<script>
	jQuery(document).ready(function() {
		// Chosen Select
		jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap',disable_search_threshold : 20});
		
		jQuery('#table2').dataTable({
			"sPaginationType" : "full_numbers"
		});
	});
	function onEditDeviceProperty(device_property_id)
	{
		var code = $("table tbody tr td[devicePropertyId][devicePropertyId='code"+ device_property_id +"']").attr('code');
		var name = $("table tbody tr td[devicePropertyId][devicePropertyId='name"+ device_property_id +"']").attr('name');
		var type = $("table tbody tr td[devicePropertyId][devicePropertyId='type"+ device_property_id +"']").attr('type');
		var description = $("table tbody tr td[devicePropertyId][devicePropertyId='description"+ device_property_id +"']").attr('description');
		
		var min = $("table tbody tr td[devicePropertyId][devicePropertyId='min"+ device_property_id +"']").attr('min');
		var max = $("table tbody tr td[devicePropertyId][devicePropertyId='max"+ device_property_id +"']").attr('max');
		var min_alarm = $("table tbody tr td[devicePropertyId][devicePropertyId='min_alarm"+ device_property_id +"']").attr('min_alarm');
		var max_alarm = $("table tbody tr td[devicePropertyId][devicePropertyId='max_alarm"+ device_property_id +"']").attr('max_alarm');
		var symbol = $("table tbody tr td[devicePropertyId][devicePropertyId='symbol"+ device_property_id +"']").attr('symbol');
		
		$("#txtCode").val(code);
		$("#txtName").val(name);
		$("#slTpye").val(type);
		$("#txtDescription ").val(description);
		
		
		$("#txtMin").val(min);
		$("#txtMax").val(max);
		$("#txtMinAlarm").val(min_alarm);
		$("#txtMaxAlarm").val(max_alarm);
		$("#txtSymbol").val(symbol);
		$("#hd_device_property_id").val(device_property_id);
	}
	function onDeleteArea(area_id)
	{
		$.confirm({
			text: "Xóa bản ghi?",
			confirm: function(button) {
				jQuery('#DeleteArea'+area_id).submit();
			},
			cancel: function(button) {
				
			}
		});
	}
	jQuery(window).load(function(){ 
		$(".numberic").numeric();
		
	});
</script>
{% endblock scripts%}
