{% extends "base.html" %} 
{% load i18n static %}
{% block content %}
<div class="contentpanel">
	<div class="panel panel-default">
		<form action="" class="form-horizontal form-bordered" method="post">
			{% csrf_token %}
			<div class="panel-heading">
				<h4 class="panel-title">{% trans 'Password change' %}</h4>
				<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
				{% if form.errors %}
					<label for="" class="error">
						{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
					</label>
				{% endif %} 
			</div>
			<div class="panel-body panel-body-nopadding">
					<div class="form-group">
						{% if form.old_password.errors %}
							<div class="col-sm col-sm-offset-3">
								<label for="" class="error">
									{{ form.old_password.errors }}
								</label>
							</div>
						{% endif %} 
						<label class="col-sm-3 control-label">{% trans 'Old password' %}</label>
						<div class="col-sm-6">
							<input id = "id_old_password" name="old_password" type="password" class="form-control">
						</div>
					</div>
					<div class="form-group">
						{% if form.new_password1.errors %}
							<div class="col-sm col-sm-offset-3">
								<label for="" class="error">
									{{ form.new_password1.errors }}
								</label>
							</div>
						{% endif %} 
						<label class="col-sm-3 control-label">{% trans 'New password' %}</label>
						<div class="col-sm-6">
							<input id="id_new_password1" name="new_password1" type="password" class="form-control">
						</div>
					</div>
					<div class="form-group">
						{% if form.new_password2.errors %}
							<div class="col-sm col-sm-offset-3">
								<label for="" class="error">
									{{ form.new_password2.errors }}
								</label>
							</div>
						{% endif %} 
						<label class="col-sm-3 control-label">{% trans 'Password (again)' %}</label>
						<div class="col-sm-6">
							<input id="id_new_password2" name="new_password2" type="password" class="form-control">
						</div>
					</div>
				
			</div>
			<div class="panel-footer">
				<div class="col-sm col-sm-offset-5">
					<button class="btn btn-primary" >{% trans 'Change my password' %}</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock content %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/custom.js"></script>
<script>
	jQuery(document).ready(function() {

	});
</script>
{% endblock scripts%}
