{% extends "base.html" %} 
{% block content-header %}
{% include 'add-device-property.html' %}
{% include 'edit-device-property.html' %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> Danh sách cảm biến <span> Thuộc tính thiết bị</span>
	</h2>
	<div class="breadcrumb-wrapper" style="top:3px;">
		<a class="btn btn-success" data-toggle="modal" data-target="#add-device-property">Thêm cảm biến</a>
	</div>
	<!-- <div class="breadcrumb-wrapper">
			<span class="label">You are here:</span>
			<ol class="breadcrumb">
				<li><a href="index.html">Bracket</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div> -->
</div>
{% endblock %}
{% block content %}
<div class="contentpanel">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover" id="table2">
					<thead>
						<tr>
							<th>Tên cảm biến </th>
							<th>Mã</th>
							<th>Mô tả</th>
							<th>Loại</th>
							<th>Nhỏ nhất</th>
							<th>Lớn nhất</th>
							<th>Ngưỡng dưới</th>
							<th>Ngưỡng trên</th>
							<th>Đơn vị</th>
							<th>Sửa|Xóa</th>
						</tr>
					</thead>
					<tbody>
						{% for deviceProperty in lsDeviceProperty %}
						<tr class="odd gradeX">
							<td devicePropertyId ="name{{ deviceProperty.id }}" name="{{ deviceProperty.name }}">{{ deviceProperty.name }}</td>
							<td devicePropertyId ="code{{ deviceProperty.id }}" code="{{ deviceProperty.code }}">{{ deviceProperty.code }}</td>
							<td devicePropertyId ="description{{ deviceProperty.id }}" description="{{ deviceProperty.description }}">{{ deviceProperty.description }}</td>
							<td devicePropertyId ="type{{ deviceProperty.id }}" type="{{ deviceProperty.type }}"> {% if deviceProperty.type = '1' %} Công tắc {% else %} Cảm biến {% endif %}</td>
							<td devicePropertyId ="min{{ deviceProperty.id }}" min="{{ deviceProperty.min }}">{{ deviceProperty.min }}</td>
							<td devicePropertyId ="max{{ deviceProperty.id }}" max="{{ deviceProperty.max }}">{{ deviceProperty.max }}</td>
							<td devicePropertyId ="min_alarm{{ deviceProperty.id }}" min_alarm="{{ deviceProperty.min_alarm }}">{{ deviceProperty.min_alarm }}</td>
							<td devicePropertyId ="max_alarm{{ deviceProperty.id }}" max_alarm="{{ deviceProperty.max_alarm }}">{{ deviceProperty.max_alarm }}</td>
							<td devicePropertyId ="symbol{{ deviceProperty.id }}" symbol="{{ deviceProperty.symbol }}">{{ deviceProperty.symbol }}</td>
							<td class="table-action">
								<a href="#" onclick="onEditDeviceProperty('{{ deviceProperty.id }}');" data-toggle="modal" data-target="#edit-device-property"><i class="fa fa-pencil"></i></a>
								<a href="#" onclick="onDeleteDeviceProperty('{{ deviceProperty.id }}');" class="delete-row confirm"><i class="fa fa-trash-o"></i></a>
								<form method="post" id="DeleteDeviceProperty{{ deviceProperty.id }}" action="/edit-device-property">
									{% csrf_token %}
									<input type="hidden" name="hd_device_pro" value="{{ deviceProperty.id }}">
									<input type="hidden" name="type" value="deleteDeviceProperty">
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->

		</div>
		<!-- panel-body -->
	</div>
	<!-- panel -->
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/jquery.datatables.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/jquery.numeric.js"></script>
<script src="js/custom.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.confirm.js"></script>
<script>
	jQuery(document).ready(function() {
		// Chosen Select
		jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap',disable_search_threshold : 20});
		
		jQuery('#table2').dataTable({
			"sPaginationType" : "full_numbers"
		});
	});
	function onEditDeviceProperty(device_property_id)
	{
		var code = $("table tbody tr td[devicePropertyId][devicePropertyId='code"+ device_property_id +"']").attr('code');
		var name = $("table tbody tr td[devicePropertyId][devicePropertyId='name"+ device_property_id +"']").attr('name');
		var type = $("table tbody tr td[devicePropertyId][devicePropertyId='type"+ device_property_id +"']").attr('type');
		var description = $("table tbody tr td[devicePropertyId][devicePropertyId='description"+ device_property_id +"']").attr('description');
		
		var min = $("table tbody tr td[devicePropertyId][devicePropertyId='min"+ device_property_id +"']").attr('min');
		var max = $("table tbody tr td[devicePropertyId][devicePropertyId='max"+ device_property_id +"']").attr('max');
		var min_alarm = $("table tbody tr td[devicePropertyId][devicePropertyId='min_alarm"+ device_property_id +"']").attr('min_alarm');
		var max_alarm = $("table tbody tr td[devicePropertyId][devicePropertyId='max_alarm"+ device_property_id +"']").attr('max_alarm');
		var symbol = $("table tbody tr td[devicePropertyId][devicePropertyId='symbol"+ device_property_id +"']").attr('symbol');
		
		$("#txtCode").val(code);
		$("#txtName").val(name);
		$("#slTpye").val(type);
		$("#txtDescription ").val(description);
		
		
		$("#txtMin").val(min);
		$("#txtMax").val(max);
		$("#txtMinAlarm").val(min_alarm);
		$("#txtMaxAlarm").val(max_alarm);
		$("#txtSymbol").val(symbol);
		$("#hd_device_property_id").val(device_property_id);
	}
	function onDeleteDeviceProperty(device_property_id)
	{
		$.confirm({
			text: "Xóa bản ghi?",
			confirm: function(button) {
				jQuery('#DeleteDeviceProperty'+device_property_id).submit();
			},
			cancel: function(button) {
				
			}
		});
	}
	jQuery(window).load(function(){ 
		$(".numberic").numeric();
		
	});
</script>
{% endblock scripts%}
