{% extends "base.html" %} 
{% block content-header %}
{% include 'add-device-property.html' %}
{% include 'edit-device-property.html' %}
<div class="pageheader" style="min-height: 60px;padding: 10px;">
	<div class="col-sm-4">
		<select name="selArea" id="selArea" class="form-control chosen-select" data-placeholder="Chọn tỉnh thành phố ..." >
			<option value="-1">Tất cả</option>
			{% if lsArea %}
				{% for area in lsArea %}
					<option area_id="{{ area.id }}" lat="{{ area.lat }}" lng="{{ area.lng }}" name="{{ area.name }}" value="{{ area.code }}">{{ area.name }}</option>
				{% endfor %}
			{% endif %}
		</select>
	</div>
	<div class="col-sm-4">
		<select name="slStatus" id="slStatus" class="form-control chosen-select" data-placeholder="Chọn trạng thái ..." style="display: none;" required="">
			<option value="-1">Tất cả</option>
			<option value="0">Mất kết nối</option>
			<option value="2">Cảnh báo</option>
		</select>
	</div>
	<div class="breadcrumb-wrapper">
			<span class="label">Giao diện </span>
			<ol class="breadcrumb">
				<li><a href="/home">Biểu đồ</a></li>
			</ol>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="contentpanel" style="padding: 10px;">
	<div class="panel panel-default">
		<div class="panel-body" style="padding: 5px;">
			<div class="table-responsive">
				<div class="row">
					<div class="col-md-9">
						<div id="map-canvas" style="width: 100%;min-height: 500px;">
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-sm">
							<ul class="nav nav-pills nav-stacked">
								{% if lsArea %}
									{% for area in lsArea %}
										<li area_id="{{ area.id }}" used="0" onclick="onActive('{{ area.id }}','{{ area.lat }}','{{ area.lng }}','{{ area.name }}');">
										<a href="#"> <span class="badge pull-right" area_id="{{ area.id }}">2</span>{{ area.name }}</a>
										<ul class="folder-list" area_id="{{ area.id }}">
											{% if lsDevice %}
												{% for device in lsDevice %}
													{% if area.id == device.area.id%}
														{% if device.status == '2' %}
															<li lat="{{ device.lat }}" lng="{{ device.lng }}" name="{{ device.name }}" address="{{ device.address }}" device_id="{{ device.id }}" code="{{ device.code }}" status="{{ device.status }}" device_id ="{{ device.id }}" onclick="onshowDevice('{{ area.id }}','{{ device.id }}','{{ device.lat }}','{{ device.lng }}','{{ device.name }}','{{ device.code }}','{{ device.address }}','{{ device.status }}');"><a href="#">
															<img alt="disconnect" src="/images/icon/RedX.png" style="margin-right: 5px;width: 15px;height: 15px;">{{ area.code }}-{{ device.short_address }}</a></li>
														{% elif device.status == '0' %}
															<li lat="{{ device.lat }}" lng="{{ device.lng }}" name="{{ device.name }}" address="{{ device.address }}" device_id="{{ device.id }}" code="{{ device.code }}" status="{{ device.status }}" device_id ="{{ device.id }}" onclick="onshowDevice('{{ area.id }}','{{ device.id }}','{{ device.lat }}','{{ device.lng }}','{{ device.name }}','{{ device.code }}','{{ device.address }}','{{ device.status }}');"><a href="#">
															<img alt="disconnect" src="/images/icon/GrayX.png" style="margin-right: 5px;width: 15px;height: 15px;">{{ device.code }}-{{ device.short_address }}</a></li>
														{% else %}
															<li lat="{{ device.lat }}" lng="{{ device.lng }}" name="{{ device.name }}" address="{{ device.address }}" device_id="{{ device.id }}" code="{{ device.code }}" status="{{ device.status }}" device_id ="{{ device.id }}" onclick="onshowDevice('{{ area.id }}','{{ device.id }}','{{ device.lat }}','{{ device.lng }}','{{ device.name }}','{{ device.code }}','{{ device.address }}','{{ device.status }}');"><a href="#">
															<img alt="disconnect" src="/images/icon/BlueV.png" style="margin-right: 5px;width: 15px;height: 15px;">{{ device.code }}-{{ device.short_address }}</a></li>
														{% endif %}
													{% endif %}
												{% endfor %}
											{% endif %}
										</ul>
								</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- table-responsive -->

		</div>
		<!-- panel-body -->
	</div>
	<!-- panel -->
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/jquery.datatables.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/jquery.numeric.js"></script>
<script src="js/custom.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
	function initialize() {
		var styles =
			[
				{
					"featureType": "poi",
					//"elementType": "bus",
					"stylers": 
					[
						{ "visibility": "off" }
					]
				},
				{
					"featureType": "transit",
					//"elementType": "bus",
					"stylers": 
					[
						{ "visibility": "off" }
					]
				}
			];
		var myLatlng = new google.maps.LatLng(16.3333, 108.1200)
		var mapOptions = {
			center: myLatlng,
			zoom: 5,
			styles: styles
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
		map.setOptions({styles: styles});
		$("#selArea option").each(function()
		{
			var area_id = $(this).attr('area_id');
			var lat = $(this).attr('lat');
			var lng = $(this).attr('lng');
			var name = $(this).attr('name');
			myLatlng = new google.maps.LatLng(lat, lng)
			var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					title: name
				});
			//on click
			google.maps.event.addListener(marker, 'click', function () {
				//turn on,off
				$("ul li[area_id][area_id='"+ area_id +"']").show();
				$("ul li[area_id][area_id!='"+ area_id +"']").hide();
				//active
				onActive(area_id,lat,lng,name);
				//set selected
				$("#selArea option[area_id][area_id="+ area_id +"]").attr("selected","selected");
				$('#selArea').chosen('destroy');
				$('#selArea').chosen();
			});
		});
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script>
	var styles =
		[
			{
				"featureType": "poi",
				//"elementType": "bus",
				"stylers": 
				[
					{ "visibility": "off" }
				]
			},
			{
				"featureType": "transit",
				//"elementType": "bus",
				"stylers": 
				[
					{ "visibility": "off" }
				]
			}
		];
	jQuery(document).ready(function() {
		// Chosen Select
		jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
		
		jQuery('#table2').dataTable({
			"sPaginationType" : "full_numbers"
		});
	});
	$("#selArea").change(function(){
		if($(this).find('option:selected').val() != '-1')
		{
			var area_id = $(this).find('option:selected').attr('area_id');
			var lat = $(this).find('option:selected').attr('lat');
			var lng = $(this).find('option:selected').attr('lng');
			var name = $(this).find('option:selected').attr('name');
			
			//turn on,off
			$("ul li[area_id][area_id='"+ area_id +"']").show();
			$("ul li[area_id][area_id!='"+ area_id +"']").hide();
			//active
			onActive(area_id,lat,lng,name);
		}
		else
		{
			initialize();
			$("ul li[area_id]").show();
			$("ul li[area_id]").removeClass("active");
			$("ul[area_id]").hide();
		}
	});
	$("#slStatus").change(function(){
		$("ul li[area_id]").removeClass("active");
		if($("#selArea").find('option:selected').val() != '-1')
		{
			var area_id = $("#selArea").find('option:selected').attr('area_id');
			var lat = $("#selArea").find('option:selected').attr('lat');
			var lng = $("#selArea").find('option:selected').attr('lng');
			var name = $("#selArea").find('option:selected').attr('name');
			
			//turn on,off
			$("ul li[area_id][area_id='"+ area_id +"']").show();
			$("ul li[area_id][area_id!='"+ area_id +"']").hide();
			//active
			onActive(area_id,lat,lng,name);
		}
		else
		{
			initialize();
			$("ul li[area_id]").show();
			$("ul li[area_id]").removeClass("active");
			$("ul[area_id]").hide();
		}
		
		$("#selArea option[value!='-1']").each(function()
		{
			selected_status = $("#slStatus").find('option:selected').val();
			var area_id = $(this).attr('area_id');
			if(selected_status !='-1')
			{
				var number = $("ul[area_id][area_id='"+ area_id +"'] li[status][status='"+ selected_status +"']").size();
				$("span[area_id][area_id ='"+ area_id +"']").html(number);
				$("li[status][status ='"+ selected_status +"']").show();
				$("li[status][status !='"+ selected_status +"']").hide();
			}
			else
			{
				var number = $("ul[area_id][area_id='"+ area_id +"'] li[status]").size();
				$("span[area_id][area_id ='"+ area_id +"']").html(number);
				$("li[status]").show();
			}
		});
		
	});
	function onshowDevice(area_id,device_id,lat,lng,name,code,address,status){
		$("ul li[area_id][area_id='"+ area_id +"']").attr('used','1');
		if(status == "1")
		{
			contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #689c35;background:#9dce6e;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
		}
		else if(status == "0")
		{
			contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #a5a5a5;background:#c0c0c0;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
		}
		else if(status == "2")
		{
			contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #e80d15;background:#e80d15;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
		}
		var infowindow = new google.maps.InfoWindow({
		content: contentString,
		});
		if(status == "0" )
			var image = '../images/icon/marker_gray.png'
		else if(status == "1")
			var image = '../images/icon/marker_blue.png'
		else if(status == "2")
			var image = '../images/icon/marker_red.png'
		
		var myLatlng = new google.maps.LatLng(lat, lng)
		var mapOptions = {
				center: myLatlng,
				zoom: 15,
				styles: styles
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			title: address,
			lat :lat,
			lng : lng,
			icon :image
		});
		
		infowindow.open(map,marker);
		
		//showAddress(device_id,lat,lng,name,code,address,status);
	}
	jQuery(window).load(function(area_id){ 
		$(".numberic").numeric();
		$("ul.folder-list").hide();
		//count
		$("#selArea option[value!='-1']").each(function()
		{
			var area_id = $(this).attr('area_id');
			var number = $("ul[area_id][area_id='"+ area_id +"'] li[status]").size();
			$("span[area_id][area_id ='"+ area_id +"']").html(number);
		});
	});
	function onActive(area_id,lat,lng,name)
	{
		var used = $("ul li[area_id][area_id='"+ area_id +"']").attr('used');
		if(used == '0')
		{
			if(!$("ul li[area_id][area_id='"+ area_id +"']").hasClass("active"))
			{
				$("ul li[area_id][area_id='"+ area_id +"']").addClass("active");
				$("ul[area_id][area_id='"+ area_id +"']").show();
			}
			else
			{
				$("ul li[area_id][area_id='"+ area_id +"']").removeClass("active");
				$("ul[area_id][area_id='"+ area_id +"']").hide();
			}
			$("ul li[area_id][area_id!='"+ area_id +"']").removeClass("active");
			$("ul[area_id][area_id!='"+ area_id +"']").hide();
			
			showListAddress(area_id,lat,lng,name);
		}
		else
		{
			$("ul li[area_id][area_id='"+ area_id +"']").attr('used','0');
		}
	}
	function showListAddress(area_id,lat,lng,name)
	{
		var myLatlng = new google.maps.LatLng(lat, lng)
		var mapOptions = {
				center: myLatlng,
				zoom: 15,
				styles: styles
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
		
		//show all device children
		selected_status = $("#slStatus").find('option:selected').val();
		if(selected_status == "-1")
		{
			$("ul[area_id][area_id='"+ area_id +"'] li[status]").each(function()
			{
				var device_id = $(this).attr('device_id');
				var code = $(this).attr('code');
				var address = $(this).attr('address');
				var status = $(this).attr('status');
				var lat = $(this).attr('lat');
				var lng = $(this).attr('lng');
				var name = $(this).attr('name');
				if(status == '0' )
					var image = '../images/icon/marker_gray.png'
				else if(status == '1')
					var image = '../images/icon/marker_blue.png'
				else if(status == '2')
					var image = '../images/icon/marker_red.png'
				myLatlng = new google.maps.LatLng(lat, lng)
				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					title: name,
					lat :lat,
					lng : lng,
					icon : image
				});
				
				if(status == "1")
				{
					contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #689c35;background:#9dce6e;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
				}
				else if(status == "0")
				{
					contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #a5a5a5;background:#c0c0c0;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
				}
				else if(status == "2")
				{
					contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #e80d15;background:#e80d15;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
				}
				var infowindow = new google.maps.InfoWindow({
				content: contentString,
				});
				//on click
				google.maps.event.addListener(marker, 'click', function () {
					if (infowindow) {
						infowindow.close();
					}
					infowindow.open(map,marker);
				});
			});
		}
		else
		{
			$("ul[area_id][area_id='"+ area_id +"'] li[status][status='"+ selected_status +"']").each(function()
					{
						var device_id = $(this).attr('device_id');
						var code = $(this).attr('code');
						var address = $(this).attr('address');
						var status = $(this).attr('status');
						var lat = $(this).attr('lat');
						var lng = $(this).attr('lng');
						var name = $(this).attr('name');
						if(status == '0' )
							var image = '../images/icon/marker_gray.png'
						else if(status == '1')
							var image = '../images/icon/marker_blue.png'
						else if(status == '2')
							var image = '../images/icon/marker_red.png'
						
						myLatlng = new google.maps.LatLng(lat, lng)
						var marker = new google.maps.Marker({
							position: myLatlng,
							map: map,
							title: name,
							lat :lat,
							lng : lng,
							icon :image
						});
						
						if(status == "1")
						{
							contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #689c35;background:#9dce6e;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
						}
						else if(status == "0")
						{
							contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #a5a5a5;background:#c0c0c0;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
						}
						else if(status == "2")
						{
							contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #e80d15;background:#e80d15;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
						}
						var infowindow = new google.maps.InfoWindow({
						content: contentString,
						});
						//on click
						google.maps.event.addListener(marker, 'click', function () {
							infowindow.open(map,marker);
						});
					});
		}
		
		google.maps.event.addDomListener(window, 'load', initialize);
	}
	function showAddress(device_id,lat,lng,name,code,address,status)
	{
		if(status == "1")
		{
			contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #689c35;background:#9dce6e;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
		}
		else if(status == "0")
		{
			contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #a5a5a5;background:#c0c0c0;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
		}
		else if(status == "2")
		{
			contentString = '<div id="information" style="width:350px;padding:5px;min-height:80px;border: 1px solid #e80d15;background:#e80d15;font-family: sans-serif;color:white;overflow-y: auto;;overflow-x: hidden;"><h4 style="line-height:0px;">'+ code +'</h4><p style="margin-bottom:0px;">'+ address +'</p><a href="/home?device_id='+ device_id +'" style="float:right;color:white;text-decoration: none;position: inherit;">Xem chi tiết...</a></div>';
		}
		var infowindow = new google.maps.InfoWindow({
		content: contentString,
		});
		if(status == "0" )
			var image = '../images/icon/marker_gray.png'
		else if(status == "1")
			var image = '../images/icon/marker_blue.png'
		else if(status == "2")
			var image = '../images/icon/marker_red.png'
		
		var myLatlng = new google.maps.LatLng(lat, lng)
		var mapOptions = {
				center: myLatlng,
				zoom: 15,
				styles: styles
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			title: address,
			lat :lat,
			lng : lng,
			icon :image
		});
		
		//on click
		google.maps.event.addListener(marker, 'click', function () {
			infowindow.open(map,marker);
		});
		
		google.maps.event.addDomListener(window, 'load', initialize);
	}
	function addInfoWindow(marker, message) {
		var info = message;
		
		var infoWindow = new google.maps.InfoWindow({
			content: message
		});
		
		google.maps.event.addListener(marker, 'click', function () {
			infoWindow.open(map, marker);
		});
	}
</script>
{% endblock scripts%}
