{% extends "base.html" %} 
{% block content-header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> Giám sát phòng máy <span>Theo dõi sự cố
			hệ thống</span>
	</h2>
	<!-- <div class="breadcrumb-wrapper">
			<span class="label">You are here:</span>
			<ol class="breadcrumb">
				<li><a href="index.html">Bracket</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div> -->
</div>
{% endblock %}
{% block content %}
<div class="contentpanel">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover" id="table2">
					<thead>
						<tr>
							<th>Mã</th>
							<th>Trạm</th>
							<th>Tên</th>
							<th>MAC</th>
							<th>Server</th>
							<th>Online</th>
						</tr>
					</thead>
					<tbody>
						{% for device in devices %}
						<tr class="odd gradeX" id="{{ device.id }}">
							<td>{{ device.code }}</td>
							<td><a href="#">{{ device.address }}</a></td>
							<td>{{ device.name }}</td>
							<td>{{ device.mac_add }}</td>
							<td class="center">{{ device.connected_server }}</td>
							{% if  device.status == '0' %}
								<td class="center"><img width="15px" height="15px" src="images/ic_blue.png" alt="" /></td>
							{% elif device.status == '1' %}
								<td class="center"><img width="15px" height="15px" src="images/ic_green.png" alt="" /></td>
							{% elif device.status == '2' %}
								<td class="center"><img width="15px" height="15px" src="images/ic_red.png" alt="" /></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->

		</div>
		<!-- panel-body -->
	</div>
	<!-- panel -->

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Chi tiết phòng máy</h4>
			<p>
				<a href="#">RW0001 </a> 11A Nguyễn Khuyến, Văn Miếu, Đống Đa,Hà
				Nội,Việt Nam
			</p>
			<p>
				<a href="#">RW0001 </a> Connected server: 65:AD:GD:09:09:89
			</p>
			<p>
				<a href="#">RW0001 </a> Connected server: 65:AD:GD:09:09:89
			</p>
		</div>
		<!-- panel-heading -->
		<div class="panel-body" id="device-infor" style="min-height: 300px">
			<div class="row">
				<div class="mb10"></div>
				<div class="col-sm-6">
					<p>Nhiệt độ</p>
					<h4 style="color: red">90 °C</h4>
				</div>
				<div class="col-sm-6">
					<p>Tần số điện lưới</p>
					<h4 style="color: green">50.0 Hz %</h4>
				</div>
			</div>
			<div class="row">
				<div class="mb10"></div>
				<div class="col-sm-6">
					<p>Độ ẩm</p>
					<h4 style="color: red">35%</h4>
				</div>
				<div class="col-sm-6">
					<p>Điện áp cầu</p>
					<h4 style="color: green">25.5VDC</h4>
				</div>
			</div>
		</div>
		<!-- panel-body -->
	</div>

</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/jquery.datatables.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>

<script src="js/custom.js"></script>
<script>
	var currentDeviceID;
	jQuery(document).ready(function() {

		jQuery('#table2').dataTable({
			"sPaginationType" : "full_numbers"
		});
		// Chosen Select
		jQuery("select").chosen({
				'min-width' : '150px',
				'white-space' : 'nowrap',
				disable_search_threshold : 10
			});
		$('#table2 tbody tr').click(function()
		{
			var device_id = $(this).attr('id');
			onGetDeviceInfor(device_id);
		});
		onGetDeviceInfor({{ devices.0.id }});
	});
	
	function onGetDeviceInfor(device_id)
	{
		currentDeviceID = device_id;
		var csrftoken = $.cookie('csrftoken');
		var posting = $.post( "/device-infor", {'csrfmiddlewaretoken':csrftoken,'device_id':device_id,});
		posting.done(function(data)
		{
			updateDeviceInfor(data.device,data.device_infor);
		});
	}
	
	function updateDeviceInfor(device,infors)
	{
		var deviceInfor = $('#device-infor');
		deviceInfor.empty();
		for(var i=0;i<infors.length;i++)
		{
			var infor = infors[i];
			var row = $('<div>');
			row.attr("class","row");
			
			var separator = $('<div>');
			separator.attr("class","mb10");
			separator.appendTo(row);
			
			var column = $('<div>');
			column.attr("class","col-sm-6");
			column.html("<p>"+infor.properties.name+"</p> <h4 style=\"color: red\">"+infor.value+" "+infor.properties.symbol+"</h4>");
			column.appendTo(row);
			if(i<infors.length-2)
			{
				i++;
				infor = infors[i];
				column = $('<div>');
				column.attr("class","col-sm-6");
				column.html("<p>"+infor.properties.name+"</p> <h4 style=\"color: green\">"+infor.value+" "+infor.properties.symbol+"</h4>");
				column.appendTo(row);
			}
			row.appendTo(deviceInfor);
		}
	}
	var tid = setTimeout(mycode, 15000);
	function mycode() {
		onGetDeviceInfor(currentDeviceID);
		// do some stuff...
		tid = setTimeout(mycode, 15000); // repeat myself
	}
	function abortTimer() { // to be called when you want to stop the timer
		clearTimeout(tid);
	}
</script>
{% endblock scripts%}
