<div class="leftpanel">

	<div class="logopanel">
		<h1>
			<span> Hasitec co.,ltd</span> <span></span>
		</h1>
	</div>
	<!-- logopanel -->

	<div class="leftpanelinner">

		<!-- This is only visible to small devices -->
		<div class="visible-xs hidden-sm hidden-md hidden-lg">
			<div class="media userlogged">
				<img alt="" src="images/photos/loggeduser.png" class="media-object">
				<div class="media-body">
					<h4>John Doe</h4>
					<span>"Life is so..."</span>
				</div>
			</div>

			<h5 class="sidebartitle actitle">Account</h5>
			<ul class="nav nav-pills nav-stacked nav-bracket mb30">
				<li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
				<li><a href="#"><i class="fa fa-cog"></i> <span>Account
							Settings</span></a></li>
				<li><a href="#"><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
				<li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign
							Out</span></a></li>
			</ul>
		</div>

		<h5 class="sidebartitle">Chức năng</h5>
		<ul class="nav nav-pills nav-stacked nav-bracket">
			<li class="active"><a href="home"><i
					class="fa fa-home"></i> <span>Tình trạng hoạt đông</span></a></li>
			<li class="nav-parent"><a href="#"><i class="fa fa-edit"></i>
					<span>Quản trị</span></a>
				<ul class="children">
					<li><a href="general-forms.html"><i
							class="fa fa-caret-right"></i> Quản lý tài khoản </a></li>
					<li><a href="form-layouts.html"><i
							class="fa fa-caret-right"></i> Quản lý phòng ban</a></li>
				</ul></li>
			<li class="nav-parent nav-active"><a href="#"><i class="fa fa-laptop"></i>
					<span>Phòng máy</span></a>
				<ul class="children" style="display: block;">
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>
							Danh sách phòng máy</a></li>
					<li><a href="icons.html"><i class="fa fa-caret-right"></i>
							Danh sách khu vực</a></li>
					<li><a href="typography.html"><i class="fa fa-caret-right"></i>
							Danh sách cảm biến</a></li>
				</ul></li>
			<li class="nav-parent"><a href="#"><i class="fa fa-suitcase"></i>
					<span>Tiện ích</span></a>
				<ul class="children">
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>
							Tập lệnh</a></li>
				</ul></li>
			<li class="nav-parent"><a href="#"><i class="fa fa-file-text"></i>
					<span>Báo cáo</span></a>
				<ul class="children">
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>
							Tình trạng phòng máy theo địa bàn</a></li>
					<li><a href="icons.html"><i class="fa fa-caret-right"></i>
							Tình trạng phòng máy theo Thời gian</a></li>
				</ul></li>
		</ul>

		<div class="infosummary">
			<h5 class="sidebartitle">Thống kê</h5>
			<ul>
				<li>
					<div class="datainfo">
						<span class="text-muted">Trạm tốt</span>
						<h4>630, 201</h4>
					</div>
					<div id="sidebar-chart" class="chart"></div>
				</li>
				<li>
					<div class="datainfo">
						<span class="text-muted">Trạm hỏng</span>
						<h4>1, 332, 801</h4>
					</div>
					<div id="sidebar-chart2" class="chart"></div>
				</li>
				<li>
					<div class="datainfo">
						<span class="text-muted">Trạm chưa triển khai</span>
						<h4>82.2%</h4>
					</div>
					<div id="sidebar-chart3" class="chart"></div>
				</li>
			</ul>
		</div>
		<!-- infosummary -->

	</div>
	<!-- leftpanelinner -->
</div>
<!-- leftpanel -->
