{% extends "base.html" %} 
{% block content-header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> Sửa thông tin đường ngang <span> </span>
	</h2>
</div>
{% endblock %}
{% block content %}
<div class="contentpanel">
	<div class="panel panel-default">
		<div class="panel-body" style="padding: 0px;">
			{% if has_error %}
				<div class="panel">
					<label class="error">{{ has_error }}</label>
				</div>
			{% endif %}
			<div class="table-responsive">
				<form class="form" id="addDevice" novalidate="novalidate" method="post" action="">
					{% csrf_token %}
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="panel-body" style="padding: 0px;">
									{% if has_error %}
										<label id="codeError" class="error" style="margin-top: 2%;margin-left: 3%;">{{ has_error }} </label>
									{% endif %}
									
									<div class="row">
										<div class="col-sm-12" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Mã đường ngang:</label>
												<div class="col-sm-12">
													<input type="text" id="txtCode" name="txtCode" value="{{ device.code }}" class="form-control"
														style="padding: 8px;"
														placeholder="<Mã đường ngang>" maxlength="50" required>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Tuyến:</label>
												<div class="col-sm-12">
													<select name='slRoute' id="slRoute" class="form-control chosen-select" required style="padding: 8px;">
														<option value="">----------------Chọn tuyến----------------</option>
														{% for route in routes %}
															{% if route.id|truncatechars:100 == device.route.id|truncatechars:100 %}
																<option value="{{ route.id }}" route_name="{{ route.name }}" selected>{{ route.name }}</option>
															{% else %}
																<option value="{{ route.id }}" route_name="{{ route.name }}">{{ route.name }}</option>
															{% endif %}
														{% endfor %}
													</select>
													<label for="slRoute" class="error" style="display: none;">Trường không được để trống</label>
												</div>
											</div>
										</div>
										<div class="col-sm-6" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Lý trình:</label>
												<div class="col-sm-12">
													<input type="text" id="txtJourney" name="txtJourney" value="{{ device.name }}" class="form-control"
														style="padding: 8px;" 
														placeholder="<Lý trình>" maxlength="50" required>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Đơn vị quản lý:</label>
												<div class="col-sm-12">
													<select name='slManagementUnit' id="slManagementUnit" class="form-control chosen-select" required style="padding: 8px;">
														{% for department in departments %}
															{% if department.id|truncatechars:100 == device.group.id|truncatechars:100 %}
																<option value="{{ department.id }}" department_name="{{ department.name }}" selected>{{ department.name }}</option>
															{% else %}
																<option value="{{ department.id }}" department_name="{{ department.name }}">{{ department.name }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Tài khoản điều khiển:</label>
												<div class="col-sm-12">
													<select name='slUserUnit' id="slUserUnit" class="form-control chosen-select" required style="padding: 8px;">
														{% for user in users %}
															{% if user.id|truncatechars:100 == device.user.id|truncatechars:100 %}
																<option value="{{ user.id }}" user_name="{{ user.username }}" selected>{{ user.username }}</option>
															{% else %}
																<option value="{{ user.id }}" user_name="{{ user.username }}">{{ user.username }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Kiểu đường ngang:</label>
												<div class="col-sm-12">
													<select name='slRailwayType' id="slRailwayType" class="form-control chosen-select" required style="padding: 8px;">
														{% for railwayType in lsRailwayType %}
															{% if railwayType.value|truncatechars:100 == device.railway_type|truncatechars:100 %}
																<option value="{{ railwayType.value }}" selected>{{ railwayType.name }}</option>
															{% else %}
																<option value="{{ railwayType.value }}" >{{ railwayType.name }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-4" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Cảm biến móc nối:</label>
												<div class="col-sm-12">
													<select name='slSensorDirection' id="slSensorDirection" class="form-control chosen-select" required style="padding: 8px;">
														{% for sensor in lsSensorDirection %}
															{% if sensor.id|truncatechars:100 == device.sensor_direction.id|truncatechars:100 %}
																<option value="{{ sensor.id }}" selected>{{ sensor.name }}</option>
															{% else %}
																<option value="{{ sensor.id }}" >{{ sensor.name }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-4" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Hướng:</label>
												<div class="col-sm-12">
													<select name='slRailwayDirection' id="slRailwayDirection" class="form-control chosen-select" required style="padding: 8px;">
														{% for railwayDirection in lsRailwayDirection %}
															{% if railwayDirection.value|truncatechars:100 == device.railway_direction|truncatechars:100 %}
																<option value="{{ railwayDirection.value }}" selected>{{ railwayDirection.name }}</option>
															{% else %}
																<option value="{{ railwayDirection.value }}" >{{ railwayDirection.name }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Người quản lý:</label>
												<div class="col-sm-12">
													<input type="text" id="txtManager" name="txtManager" value="{{ device.owner_name }}" class="form-control"
														style="padding: 8px;"
														placeholder="<Người quản lý>" maxlength="50" required>
												</div>
											</div>
										</div>
										<div class="col-sm-6" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Số điện thoại</label>
												<div class="col-sm-12">
													<input type="text" id="txtPhoneNumber" name="txtPhoneNumber" value="{{ device.owner_phone }}" class="form-control numberic"
														style="padding: 8px;"
														placeholder="<Số điện thoại>" maxlength="20" required>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Mac:</label>
												<div class="col-sm-12">
													<input type="text" id="txtMAC" name="txtMAC" value="{{ device.mac_add }}" class="form-control"
														style="padding: 8px;" 
														placeholder="<Địa chỉ MAC>" maxlength="30" required>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Địa bàn:</label>
												<div class="col-sm-12">
													<select name='slArea' id="slArea" class="form-control chosen-select" required style="padding: 8px;">
														{% if lsArea %}
															{% for area in lsArea %}
																<option value="{{ area.id }}" area_name="{{ area.name }}">{{ area.name }}</option>
															{% endfor %}
														{% endif %}
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Địa chỉ:</label>
												<div class="col-sm-12">
													<input type="text" id="txtAddress" name="txtAddress" value="{{ device.short_address }}" class="form-control"
														style="padding: 8px;" 
														placeholder="<Địa chỉ>" maxlength="50" required onchange="getLatLong();">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12" style="padding-left: 0px;">
											<div class="form-group">
												<label class="col-sm-12 control-label">Ghi chú: </label>
												<div class="col-sm-12">
													<textarea class="form-control" name="txtNote" rows="2" placeholder="Ghi chú"  maxlength="100" required>{{ device.description }}</textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6" style="padding-left: 0px;" >
								<div class="panel-body" style="padding: 0px;">
									<div class="col-md-12">
									<h5 class="subtitle" id="fulladdress" style="font-family: sans-serif;">{{ device.address }}</h5>
									<p style="font-family: initial;">Hiển thị địa bàn trên google map với địa chỉ tương ứng</p>
										<div id="map-canvas" style="min-height: 395px;">
										</div>
									</div>
									
								</div>
							</div>
						</div>
						<input type="hidden" name="type" value="addDevice">
						<input type="hidden" id="txtLat" name="txtLat" value="{{ device.lat }}">
						<input type="hidden" id="txtLng" name="txtLng" value="{{ device.lng }}">
						<input type="hidden" id="txtFullName" name="txtFullName" value="{{ device.address }}">
					</div>
					<div class="panel-body" style="padding-top: 0px;">
						<div class="row">
							<div class="col-md-12" style="padding-left: 0px;">
								<div class="panel-body" style="padding: 0px;">
								
									<div class="form-group">
										<label class="col-sm-12 control-label" style="line-height: 20px;">Cảm biến:</label>
										{% for infor in lsInfor%}
											<div class="col-sm-6">
												<div class="ckbox ckbox-primary" style="height: 28px;">
													{% if infor.status == '1' %}
														<input type="checkbox" id="lb{{ infor.device_pro.id }}" name="{{ infor.device_pro.code }}" checked>
													{% else %}
														<input type="checkbox" id="lb{{ infor.device_pro.id }}" name="{{ infor.device_pro.code }}" >
													{% endif %}
													<label for="lb{{ infor.device_pro.id }}"> {{ infor.device_pro.name }}</label>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='/railway/list/'">Thoát</button>
						<button type="button" class="btn btn-primary" onclick="return onAddDeviceFromSubmit();">Lưu</button>
					</div>
				</form>
			</div>
			<!-- table-responsive -->

		</div>
		<!-- panel-body -->
	</div>
	<!-- panel -->
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery.numeric.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
	function initialize() {
		var styles =
			[
				{
					"featureType": "poi",
					//"elementType": "bus",
					"stylers": 
					[
						{ "visibility": "off" }
					]
				},
				{
					"featureType": "transit",
					//"elementType": "bus",
					"stylers": 
					[
						{ "visibility": "off" }
					]
				}
			];
		var myLatlng = new google.maps.LatLng($("#txtLat").val(), $("#txtLng").val())
		var mapOptions = {
			center: myLatlng,
			zoom: 15,
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
		map.setOptions({styles: styles});
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			title: 'Việt Nam'
		});
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script>
	$("#slArea").change(function(){
		if ($('#txtAddress').val()) {
			
			var province = $("#slArea").find('option:selected').attr('area_name');
			var address = $('#txtAddress').val();
			$("#fulladdress").html(address+","+province+ ",VIỆT NAM");
			var geo = new google.maps.Geocoder;
			
			geo.geocode({'address':$("#fulladdress").html()},function(results, status){
				if (status == google.maps.GeocoderStatus.OK) {
					$("#txtLat").val(results[0].geometry.location.lat());
					$("#txtLng").val(results[0].geometry.location.lng());
					$("#txtFullName").val(address+","+province+ ",Việt Nam");
					showAddress(results[0].geometry.location.lat(),results[0].geometry.location.lng(),address);
				} else {
					alert("Geocode was not successful for the following reason: " + status);
				}
			
			});
		}
		else
		{
			var province = $("#slArea").find('option:selected').attr('area_name');
			$("#fulladdress").html(province+ ",VIỆT NAM")
			var geo = new google.maps.Geocoder;
			geo.geocode({'address':$("#fulladdress").html()},function(results, status){
				if (status == google.maps.GeocoderStatus.OK) {
					$("#txtLat").val(results[0].geometry.location.lat());
					$("#txtLng").val(results[0].geometry.location.lng());
					$("#txtFullName").val(address+","+province+ ",Việt Nam")
					showAddress(results[0].geometry.location.lat(),results[0].geometry.location.lng(),province);
				} else {
					alert("Geocode was not successful for the following reason: " + status);
				}
			
			});
		}
	});
	$("#slRailwayType").change(function(){
		if($("#slRailwayType").val()=='3')
		{
			$("#slSensorDirection").prop("disabled", false).trigger("liszt:updated");
			$("#slSensorDirection").prop("disabled", false).trigger("chosen:updated");
			$("#slRailwayDirection" ).prop("disabled",false).trigger("liszt:updated");
			$("#slRailwayDirection" ).prop("disabled",false).trigger("chosen:updated");
		}
		else
		{
			$("#slSensorDirection").prop("disabled", true).trigger("liszt:updated");
			$("#slSensorDirection").prop("disabled", true).trigger("chosen:updated");
			$("#slRailwayDirection" ).prop("disabled",true).trigger("liszt:updated");
			$("#slRailwayDirection" ).prop("disabled",true).trigger("chosen:updated");
		}
		//$("#slSensorDirection").prop("disabled",false);
	});
	if($("#slRailwayType").val()=='3')
	{
		$("#slSensorDirection").prop("disabled", false).trigger("liszt:updated");
		$("#slSensorDirection").prop("disabled", false).trigger("chosen:updated");
		$("#slRailwayDirection" ).prop("disabled",false).trigger("liszt:updated");
		$("#slRailwayDirection" ).prop("disabled",false).trigger("chosen:updated");
	}
	else
	{
		$("#slSensorDirection").prop("disabled", true).trigger("liszt:updated");
		$("#slSensorDirection").prop("disabled", true).trigger("chosen:updated");
		$("#slRailwayDirection" ).prop("disabled",true).trigger("liszt:updated");
		$("#slRailwayDirection" ).prop("disabled",true).trigger("chosen:updated");
	}
	var styles =
		[
			{
				"featureType": "poi",
				//"elementType": "bus",
				"stylers": 
				[
					{ "visibility": "off" }
				]
			},
			{
				"featureType": "transit",
				//"elementType": "bus",
				"stylers": 
				[
					{ "visibility": "off" }
				]
			}
		];
	
	jQuery(document).ready(function() {
		// Chosen Select
		jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap',disable_search_threshold : 20});
		
		jQuery('#table2').dataTable({
			"sPaginationType" : "full_numbers"
		});
		//change slRoute
		$('#slRoute').change(function(){
			$(".error[for][for='slRoute']").hide();
		});
		$("#txtMAC").on("keydown", function (e) {
		if(e.which === 32) 
			return false;
		});
		$("#txtPhoneNumber").on("keydown", function (e) {
		if(e.which === 32) 
			return false;
		});
		$("#txtCode").on("keydown", function (e) {
		if(e.which === 32) 
			return false;
		});
		//validate
		$.validator.setDefaults({ ignore: ":hidden:not(select)" })
	});
	function showAddress(lat,lng,address)
	{
		var myLatlng = new google.maps.LatLng(lat, lng)
		var mapOptions = {
				center: myLatlng,
				zoom: 15
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			title: address
		});
		google.maps.event.addDomListener(window, 'load', initialize);
	}
	function getLatLong(){
		
		if ( !$('#txtAddress').val() ) {
		}
		else
		{
			var province = $("#slArea").find('option:selected').attr('area_name');
			var address = $('#txtAddress').val();
			$("#fulladdress").html(address+","+province+ ",VIỆT NAM")
			var geo = new google.maps.Geocoder;
			
			geo.geocode({'address':$("#fulladdress").html()},function(results, status){
				if (status == google.maps.GeocoderStatus.OK) {
					$("#txtLat").val(results[0].geometry.location.lat());
					$("#txtLng").val(results[0].geometry.location.lng());
					$("#txtFullName").val(address+","+province+ ",Việt Nam")
					showAddress(results[0].geometry.location.lat(),results[0].geometry.location.lng(),address);
				} else {
					alert("Geocode was not successful for the following reason: " + status);
				}
			
			});
		}
	}
	function onAddDeviceFromSubmit()
	{
		var $valid = jQuery('#addDevice').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#addDevice').submit();
	}
	jQuery(window).load(function()
	{
		$(".numberic").numeric({ negative : false });
		$("form:not(.filter) :input:visible:enabled:first").focus();
	});
</script>
{% endblock scripts%}
