<!-- Modal -->
<div class="modal fade" id="edit-device-property" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel" style="text-align: center;">SỬA THÔNG TIN ĐẦU ĐO</h4>
				<h5 class="modal-title" id="lbErrorEdit" style="text-align: left;color: red;"></h5>
			</div>

			<div class="panel panel-default">
				<form class="form" id="editDeviceProperty" novalidate="novalidate" method="post" action="/railway/property/edit/">
					{% csrf_token %} 
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="panel-body" style="padding-top: 0px;padding-bottom: 0px;">
									<div class="form-group">
										<label class="col-sm-12 control-label">Tên:</label>
										<div class="col-sm-12">
											<input type="text" id="txtNameEdit" name="txtNameEdit" class="form-control"
												placeholder="<Tên cảm biến>" required="">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-12 control-label">Mã:</label>
										<div class="col-sm-12">
											<input type="text" id="txtCodeEdit" name="txtCodeEdit" class="form-control"
												placeholder="<Mã cảm biến>" required="">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-5">
											<div class="ckbox ckbox-primary" style="margin-top: 30px;">
												<input type="checkbox" id="cbRequireEdit" name="cbRequireEdit" style="margin-top: 0px !important;">
												<label for="cbRequireEdit">Đầu đo phụ</label>
											</div>
										</div>
										
										<div class="col-sm-7">
											<label class="control-label">Đầu đo chính:</label>
											<select name='slParentEdit' id="slParentEdit" class="form-control chosen-select" data-placeholder="Chọn đầu đo chính" disabled required>
											<option value=""></option>
											{% for device in devices %}
												<option value="{{ device.id }}">{{ device.name }}</option>
											{% endfor %}
											</select>
											<label for="slParentEdit" class="error" style="display: none;">Trường không được để trống</label>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-12 control-label">Mô tả:</label>
										<div class="col-sm-12">
											<textarea rows="6" class="form-control"
												placeholder="<Mô tả>" id="txtDescriptionEdit" name="txtDescriptionEdit" required=""></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel-body"style="padding-top: 0px;padding-bottom: 0px;">
									<div class="form-group">
										<label class="col-sm-12 control-label">Nhỏ nhất:</label>
										<div class="col-sm-12">
											<input type="text" id="txtMinEdit" name="txtMinEdit" class="form-control numberic"
												placeholder="<Giá trị nhỏ nhất của cảm biến>" required="" maxlength="10">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-12 control-label">Lớn nhất:</label>
										<div class="col-sm-12">
											<input type="text" id="txtMaxEdit" name="txtMaxEdit" class="form-control numberic"
												placeholder="<Giá tri lớn nhất của cảm biến>" required="" maxlength="10">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-12 control-label">Ngưỡng dưới:</label>
										<div class="col-sm-12">
											<input type="text" id="txtMinAlarmEdit" name="txtMinAlarmEdit" class="form-control numberic"
												placeholder="<Ngưỡng dưới của cảm biến>" required="" maxlength="10">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-12 control-label">Ngưỡng trên:</label>
										<div class="col-sm-12">
											<input type="text" id="txtMaxAlarmEdit" name="txtMaxAlarmEdit" class="form-control numberic"
												placeholder="<Ngưỡng trên cửa cảm biến>" required="" maxlength="10">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-12 control-label">Đơn vị:</label>
										<div class="col-sm-12">
											<input type="text" id="txtSymbolEdit" name="txtSymbolEdit" class="form-control"
												placeholder="<Đơn vị>" required="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" name="type" value="editDeviceProperty">
						<input type="hidden" name="hd_device_property_id" id="hd_device_property_id" value="">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
						<button type="button" class="btn btn-primary" onclick="return onEditDevicePropertyFromSubmit();">Lưu</button>
					</div>
				</form>
			</div>
			<!-- End of block -->
			
		</div>
		<!-- modal-content -->
		
	</div>
	<!-- modal-dialog -->
</div>
<!-- modal -->

<script>
	function onGetPropertyEdit(p_id,p_code)
	{
		//show loading
		$.fn.loading.show();
		var csrftoken = $.cookie('csrftoken');
		var posting = $.post("/get-property"+"/"+p_id.toString()+"/"+p_code.toString()+"/", {
			'csrfmiddlewaretoken' : csrftoken,
		});
		posting.done(function(data) 
		{
			//alert(JSON.stringify(data))
			var equal = data.property
			if(equal === '1')
			{
				$("#lbErrorEdit").html('Mã '+p_code+ " đã tồn tại !!!");
				$("#lbErrorEdit").show();
			}
			else
			{
				jQuery('#editDeviceProperty').submit();
				$("#lbErrorEdit").hide();
			}
			
			//hide loading
			$.fn.loading.hide();
		});
	}
	function onEditDevicePropertyFromSubmit()
	{
		var p_code = $("#txtCodeEdit").val();
		var p_id=$("#hd_device_property_id").val();
		var $valid = jQuery('#editDeviceProperty').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		else
			onGetPropertyEdit(p_id,p_code)
	};
</script>
