{% extends "base.html" %} 
{% block styles %}
	<link href="/css/chart.css" rel="stylesheet">
	<style>
		th{
			font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
			font-weight: bold !important;
		}
		.tab-pane{
			min-height: 450px;
		}
		.profile-header{
			margin-bottom: 10px;
		}
		#railway-infor .row{
			margin-bottom: 15px;
		}
		#device-infor-1 .row{
			margin-top: 15px;
		}
		#device-infor-2 .row{
			margin-top: 15px;
		}
		#device-infor-3 .row{
			margin-top: 15px;
		}
		
		.dataTables_filter{
			float: left;
		}
		.dataTables_filter input {
			padding: 7px;
		}
		.dataTables_length{
		float: right;
		}
		.col-sm{
			padding-left: 10px;
		}
		h3,h5{
			font-family: tahoma;
		}
		#railway-infor .col-sm-2, .col-sm-3 {
			display: inline-block; 
			white-space: nowrap;
		}
		.col-sm-6 p 
		{ 
			word-break: break-word;
			white-space: pre-line;
		}
		#device-issue{
			word-break: break-word;
			white-space: pre-line;
		}
		.col-sm-3 p{
			margin: 0;
		}
	</style>
{% endblock %}
{% block content-header %}
<div class="pageheader" style="display: none;">
	<h2>
		<i class="fa fa-align-justify"></i> Giám sát đường ngang <span>Theo dõi sự cố
			hệ thống</span>
	</h2>
	<div class="breadcrumb-wrapper">
			<span class="label">Giao diện </span>
			<ol class="breadcrumb">
				<li><a href="#">Bản đồ</a></li>
				<li class="active">Dashboard</li>
			</ol>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="contentpanel">
	<div id="loading"></div>
	<div class="row">
		{% if devices %}
		<div class="col-sm-5">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table" id="table2">
						<thead>
							<tr>
								<th>Tuyến</th>
								<th>Lý Trình</th>
								<th>Trạng thái</th>
							</tr>
						</thead>
						<tbody>
							{% for device in devices %}
							<tr class="odd gradeX" id="{{ device.id }}" device_id ="{{ device.id }}" device_status = "{{ device.status }}">
								<td>{{ device.route.name }}</td>
								<td>{{ device.name }}</td>
								<td class="center">
									<p id ="railway-{{ device.id }}" class="railway-action" style="position: absolute;margin-left: 30px">
										{% if  device.status != '0' %}
											{% if  device.action_status == '1' %}
												>>>>>
											{% elif device.action_status == '2' %}
												<<<<<
											{% endif %}
										{% endif %}
									</p>
									{% if  device.status == '0' %}
										<p style="display: None">Mất kết nối</p><img id="device-status-{{device.id}}" width="15px" height="15px" src="/images/ic_blue.png" alt="" />
									{% elif device.status == '1' %}
										<p style="display: None">Tốt</p><img id="device-status-{{device.id}}" width="15px" height="15px" src="/images/ic_green.png" alt="" />
									{% elif device.status == '2' %}
										<p style="display: None">Hỏng</p><img id="device-status-{{device.id}}" width="15px" height="15px" src="/images/ic_red.png" alt="" />
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- table-responsive -->
	
			</div>
			<!-- panel-body -->
		</div>
		<!-- panel -->
		</div>
	
		<div class="col-sm-7">
			<div class="profile-header">
				<h4 class="profile-name" id="device-name"></h4>
				<div class="profile-location" id="device-address"></div>
				<div class="profile-position" >Trạng thái: <img id="device-status" width="15px" height="15px"
										src="/images/ic_blue.png" alt="" /></div>
				<button id="btnNhanCong" class="btn btn-warning" style="width: 100px;margin-right: 5px;"> Nhân công</button> 
				<button id="btnDuyTu" class="btn btn-warning" style="width: 100px;margin-right: 5px;"> Duy tu</button> 
				<button id="btnPhucHoi" class="btn btn-warning" style="width: 100px;margin-right: 5px;"> Phục hồi </button>
				<button id="btnCuongBuc" class="btn btn-warning" style="width: 100px"> Cưỡng bức </button>
			</div>
			<!-- <div class="panel-heading">
				
			</div> -->
			<!-- panel-heading -->
				<ul class="nav nav-tabs" id="myTab">
					<li class="active" ><a href="#railway-status"  id='tab-railway-status' data-toggle="tab">Trạng thái</a></li>
					<li ><a href="#railway-history"  id='tab-railway-history' data-toggle="tab">Phiên tàu chạy</a></li>
					<li style="display: none;"><a href="#device-history"  id='tab-device-history' data-toggle="tab">Lịch sử</a></li>
					<!-- <li><a href="#messages">Messages</a></li>
					<li><a href="#settings">Settings</a></li> -->
				</ul>
				<div class="tab-content" style="padding: 10px">
					<div class="tab-pane" id="device-history">
					</div>
					<div class="tab-pane" id="railway-history">					
						<div class="row"> 
							<div class="col-sm-6"> 
								<div class="table-responsive">
									<table class="table" id="table3">
										<thead>
											<tr>
												<th>Phiên </th>
												<th>Hướng </th>
												<th>Băt đầu</th>
												<th>Kết thúc</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div> 
							
							<div class="col-sm-6">
								<div class="table-responsive">
									<table class="table" id="table4">
										<thead>
											<tr>
												<th>Cảm biến</th>
												<th>Giá trị</th>
<!--												<th>Thời gian</th>
												<th>Trạng thái</th> 
-->
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane active" id="railway-status">
						<div class="row"
							style="border-bottom: 1px solid; border-color: gray;margin-top: 10px;" >
							<div class="col-sm-6" style="display: none;">
								<p id="device-mac" style="display: none"></p>
								<p id="device-server" style="display: none"></p>
								<p id="device-issue" style="display: none;"></p>
							</div>
							<div class="col-sm" id="railway-infor">
								<div class="row">
									<div class="col-sm-2">CB1  <p id="CB1"></p></div>
									<div class="col-sm-2">CB2  <p id="CB2"></p></div>
									<div class="col-sm-2">CB3  <p id="CB3"></p></div>
									<div class="col-sm-2">CB4  <p id="CB4"></p></div>
									<div class="col-sm-2">CB5  <p id="CB5"></p> </div>
									<div class="col-sm-2">CB6  <p id="CB6"></p></div>
								</div>
								<div class="row">
									<div class="col-sm-3">RED1: <p id="RED1"></p></div>
									<div class="col-sm-3">RED2: <p id="RED2"></p></div>
									<div class="col-sm-3">RED3: <p id="RED3"></p></div>
									<div class="col-sm-3">RED4: <p id="RED4"></p> </div>
								</div>
								<div class="row">
									<div class="col-sm-3">YEL1: <p id="YEL1"></p></div>
									<div class="col-sm-3">YEL2: <p id="YEL2"></p></div>
									<div class="col-sm-3">RING1: <p id="RING1"></p></div>
									<div class="col-sm-3">RING2: <p id="RING2"></p></div>
								</div>
							</div>
							<div style="float: right;padding-right: 5px;margin-top: 5px">Sự kiện cuối: <a href="#" id="last-raiway">--</a></div>
						</div>
						
						<div class ="row" >
							<div class="col-sm" id="device-infor-1"
									style="border-bottom: 1px solid; border-color: gray;word-wrap: break-word;">
							</div>
							<div class="col-sm-6" style="display: none">
								<p id="charTitle" style="display: none">Nhiệt độ.</p>
								<div class="demo-container">
									<div id="placeholder" class="demo-placeholder"></div>
								</div>
							</div>
						</div>
						<div class ="row" >
							<div class="col-sm" id="device-infor-2"
									style="border-bottom: 1px solid; border-color: gray;word-wrap: break-word;">
							</div>
						</div>
						
						<div class ="row" style="border-bottom: 1px solid; border-color: gray;word-wrap: break-word;">
							<div class="col-sm" id="device-infor-3"
									>
							</div>
							<div style="float: right;padding-right: 5px;margin-top: 5px">Sự kiện cuối: <a href="#" id="last-test">--</a></div>
						</div>
						<div style="display: none;">
							
						</div>
					</div>
				</div>	
				<!-- tab-content -->
				
			<!-- panel-body -->
		</div>
		{% endif %}
	</div>
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>

<script src="/js/flot/jquery.flot.js"></script>
<script src="/js/loading.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/railway-infor.js"></script>
<script>
	var wsUri = "ws://113.160.52.194:9889";
	var websocket;
	var mac_address="";
	var device_id="ALL";
	function initWebsocket()
	{
		try
		{
			websocket = new WebSocket(wsUri);
		}
		catch(e)
		{
			setTimeout(initWebsocket,5000);
		}
		websocket.onopen = function(evt)
		{
			onOpen(evt)
		};
		websocket.onclose = function(evt)
		{
			onClose(evt)
		}; 
		websocket.onmessage = function(evt)
		{
			onMessage(evt)
		};
		websocket.onerror = function(evt)
		{
			onError(evt)
		};
	}
	function onOpen(evt)
	{
		doSend('{"handle":"announce"}');
		doSend('{"handle":"monitor"}');
	}
	function onClose(evt)
	{
		setTimeout(initWebsocket,5000);
	}
	function onMessage(evt)
	{
		console.log(evt.data.toString());
		var data = $.parseJSON(evt.data.toString());
		
		switch (data.handle)
		{
			case "on_status_change":
				var device_id = data.device_id;
				var status = data.status;
				var img_status = $("#device-status-"+device_id);
				if(status==="1")
				{
					img_status.attr("src","/images/ic_green.png");
				}
				else if(status==="2")
				{
					img_status.attr("src","/images/ic_red.png");
				}
				else if(status==="0")
				{
					img_status.attr("src","/images/ic_blue.png");
				}
				console.log("Status change " + "device_id: "+ device_id + "status: "+status);
				break;
			case "on_railway_change":
				var device_id = data.device_id;
				var action_status = data.action_status;
				var railway_action = $("#railway-"+device_id);
				console.log("#railway-"+device_id);
				if(device.id === device_id)
					device.action_status = action_status;
				if(action_status==="1")
				{
					railway_action.html(">>>>>");
				}
				else if(action_status==="2")
				{
					railway_action.html("<<<<<");
				}
				else if(action_status==="0")
				{
					railway_action.html("");
				}
				break;
			default:
				break;
		}
	}
	function onError(evt)
	{
		websocket.close();
	}
	function doSend(message)
	{
		websocket.send(message);
	}
	jQuery(document).ready(function() {
		var tid1;
		var temp = true;
		function mycode() 
		{
			$('.railway-action').each(function(index, element)
			{
				if(temp)
				{
					$(element).css('display','none');
				}
				else 
				{
					$(element).css('display','');
				}
			});
			
			tid1 = setTimeout(mycode, 500); // repeat myself
			temp = !temp;
		};
		
		tid1 = setTimeout(mycode, 500);
		
		initWebsocket();
		
		var table = $('#table2').dataTable(
		{
			//"bLengthChange": false,
			//"bFilter" : false,
			"bInfo":false,
			"sPaginationType" : "full_numbers",
			"iDisplayLength":25,
			aoColumnDefs: [{bSortable: false,aTargets: [-1,-2]}],
			"oLanguage":
			{
				"sLengthMenu":"Hiển thị _MENU_ bản ghi",
				"sInfo": "Hiển thị _START_ tới _END_ trong _TOTAL_ bản ghi",
				"oPaginate": 
				{
					"sFirst":      "<<",
					"sLast":       ">>",
					"sNext":       ">",
					"sPrevious":   "<"
				},
				"sSearch":"",
			}
		});
		
		// Chosen Select
		$("select").chosen({
				'min-width' : '150px',
				'white-space' : 'nowrap',
				disable_search_threshold : 10
			});
		$("input").attr("placeholder","Tìm kiếm");
		
		$('#table2 tbody').on( 'click', 'tr', function () {
			device_id = $(this).attr('id');
			device_status = $(this).attr('device_status');
			doSend('{"handle":"connect_device","device_id":'+ parseInt(device_id.toString()) +',"MAC":"'+mac_address.toString()+'"}');
			$("#table2 tbody tr[device_id][device_id='"+ device_id +"']").css('background-color','#8EE2BC');
			$("#table2 tbody tr[device_id][device_id!='"+ device_id +"']").css('background-color','#fff');
			//$('#loading').html("<img src='/images/loaders/loader5.gif'/>").fadeIn('fast');
			//$(this).css({"cursor" :"progress"});
			//setTimeout( "jQuery('#loading_mask').hide();", 3000 );
			//$(this).slideUp(200).delay(2000).fadeIn(400);
			onGetDeviceInfor(device_id);
			//$(this).css({"cursor" , 'default'});
			//$('#loading').fadeOut('fast');

			if (device_status == '1' || device_status == '2')
			{
				$('#btnNhanCong').removeAttr("disabled");
				$('#btnDuyTu').removeAttr("disabled");
				$('#btnPhucHoi').removeAttr("disabled");
				$('#btnCuongBuc').removeAttr("disabled");
			}
			else
			{
				$('#btnNhanCong').attr("disabled", true);
				$('#btnDuyTu').attr("disabled", true);
				$('#btnPhucHoi').attr("disabled", true);
				$('#btnCuongBuc').attr("disabled", true);
			}
						
			$('#tab-railway-history').parent().hasClass('active')
			{
				$('#tab-railway-history').parent().removeClass('active');
			}
			$('#railway-history').hasClass('active')
			{
				$('#railway-history').removeClass('active');
			}
			
			!$('#tab-railway-status').parent().hasClass('active')
			{
				$('#tab-railway-status').parent().addClass('active');
			}
			
			!$('#railway-status').hasClass('active')
			{
				$('#railway-status').addClass('active');
			}
		});
		
		$('#tab-railway-history').click(function(e)
		{			
			//$('#loading').html("<img src='/images/loaders/loader5.gif'/>").fadeIn('fast');
			showRailwayHistory();
			//$('#loading').fadeOut('fast');			
			//$('#table3').addClass('active');
		});
		
		//onGetDeviceInfor({{ devices.0.id }});
		$('#btnNhanCong').click(function(e)
		{
			doSend('{"handle":"send_cmd","device_id":43,"body":{"type":"request","cmd":"set_button","body":{"TEST":"ON","MAIN":"OFF","RESET":"OFF"}}}');
		});
		$('#btnDuyTu').click(function(e)
		{
			doSend('{"handle":"send_cmd","device_id":43,"body":{"type":"request","cmd":"set_button","body":{"TEST":"OFF","MAIN":"ON","RESET":"OFF"}}}');
		});
		$('#btnPhucHoi').click(function(e)
		{
			doSend('{"handle":"send_cmd","device_id":43,"body":{"type":"request","cmd":"set_button","body":{"TEST":"OFF","MAIN":"OFF","RESET":"ON"}}}');
		});
		//loading
		
	});
	jQuery(window).load(function()
	{ 
		device_id = '{{ device_id|safe }}';
		doSend('{"handle":"connect_device","device_id":'+ parseInt(device_id.toString()) +',"MAC":"'+mac_address.toString()+'"}');
		if (!device_id)
			device_id = $("#table2 tbody tr[device_id]").first().attr('id');
		$("#table2 tbody tr[device_id][device_id='"+ device_id +"']").css('background-color','#8EE2BC');
		$("#table2 tbody tr[device_id][device_id!='"+ device_id +"']").css('background-color','#fff');
		onGetDeviceInfor(device_id);
	});
</script>
{% endblock scripts%}
