{% extends "base.html" %} 
{% block styles %}
	<link href="/css/chart.css" rel="stylesheet">
	<style>
		#railway-infor .col-sm-2, .col-sm-3 {
			display: inline-block; 
			white-space: nowrap;
		}
		.tab-pane{
		min-height: 600px;
		}
		.col-sm-6 p 
		{ 
			word-break: break-word;
			white-space: pre-line;
		}
		#device-issue{
			word-break: break-word;
			white-space: pre-line;
		}
	</style>
{% endblock %}
{% block content-header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-align-justify"></i> Giám sát đường ngang <span>Theo dõi sự cố
			hệ thống</span>
	</h2>
	<div class="breadcrumb-wrapper">
			<span class="label">Giao diện </span>
			<ol class="breadcrumb">
				<li><a href="#">Bản đồ</a></li>
				<li class="active">Dashboard</li>
			</ol>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="contentpanel">
	{% if devices %}
	<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover" id="table2">
					<thead>
						<tr>
							<th>Lý Trình</th>
							<th>Tuyến</th>
							<th>Địa chỉ</th>
							
							<th>MAC</th>
							<th>Server</th>
							<th>Trạng thái</th>
						</tr>
					</thead>
					<tbody>
						{% for device in devices %}
						<tr class="odd gradeX" id="{{ device.id }}" device_id ="{{ device.id }}">
							<td>{{ device.name }}</td>
							<td>{{ device.route.name }}</td>
							<td><a href="#">{{ device.address }}</a></td>
							<td>{{ device.mac_add }}</td>
							<td class="center">{{ device.connected_server }}</td>
							{% if  device.status == '0' %}
								<td class="center"><p style="display: None">Mất kết nối</p><img id="device-status-{{device.id}}" width="15px" height="15px" src="/images/ic_blue.png" alt="" /></td>
							{% elif device.status == '1' %}
								<td class="center"><p style="display: None">Tốt</p><img id="device-status-{{device.id}}" width="15px" height="15px" src="/images/ic_green.png" alt="" /></td>
							{% elif device.status == '2' %}
								<td class="center"><p style="display: None">Hỏng</p><img id="device-status-{{device.id}}" width="15px" height="15px" src="/images/ic_red.png" alt="" /></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->

		</div>
		<!-- panel-body -->
	</div>
	<!-- panel -->
	</div>

	<div class="row">
		<!-- <div class="panel-heading">
			
		</div> -->
		<!-- panel-heading -->
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#railway-status" data-toggle="tab">Trạng thái</a></li>
				<li><a href="#railway-history" data-toggle="tab">Lịch sử</a></li>
				<!-- <li><a href="#messages">Messages</a></li>
				<li><a href="#settings">Settings</a></li> -->
			</ul>
			<div class="tab-content" style="padding: 10px">
				<div class="tab-pane" id="railway-history"> </div>
				<div class="tab-pane active" id="railway-status">
					<div class="row"
						style=" border-color: gray;">
						<div class="col-sm-6"><h3 id="device-name"></h3></div>
						<div class="col-sm-6" style="padding: 10px;left: 10%">
							<a id="btnNhanCong" class="btn btn-danger" style="width: 100px;margin-right: 5px;"> Nhân công</a> 
							<a id="btnDuyTu" class="btn btn-warning" style="width: 100px;margin-right: 5px;"> Duy tu</a> 
							<a id="btnPhucHoi" class="btn btn-success" style="width: 100px"> Phục hồi </a>
						</div>
					</div>
				
					<div class="row"
						style="border-bottom: 1px solid; border-color: gray;margin-top: 10px;">
						<div class="col-sm-6">
							<p id="device-mac" style="display: none"></p>
							<p id="device-server" style="display: none"></p>
							<p>
								Trạng thái: <img id="device-status" width="15px" height="15px"
									src="/images/ic_blue.png" alt="" />
							</p>
							<p id="device-issue"></p>
						</div>
						<div class="col-sm-6">
							<div class="row" id="railway-infor">
								<div class="row">
									<div class="col-sm-2">CB1 &nbsp; ------</div>
									<div class="col-sm-2">CB2 &nbsp; ------</div>
									<div class="col-sm-2">CB3 &nbsp; ------</div>
									<div class="col-sm-2">CB4 &nbsp; ------</div>
									<div class="col-sm-2">CB5 &nbsp; ------</div>
									<div class="col-sm-2">CB6</div>
								</div>
								<div class="row">
									<div class="col-sm-3">RED1</div>
									<div class="col-sm-3">RED2</div>
									<div class="col-sm-3">RED3</div>
									<div class="col-sm-3">RED4</div>
								</div>
								<div class="row">
									<div class="col-sm-3">YEL1</div>
									<div class="col-sm-3">YEL2</div>
									<div class="col-sm-3">RING1</div>
									<div class="col-sm-3">RING2</div>
								</div>
							</div>
						</div>
					</div>
				
					<div class ="row" style="margin-top: 10px;">
						<div class="col-sm-6" id="device-infor"
							style="white-space: pre-wrap; /* CSS3 */ white-space: -moz-pre-wrap; /* Firefox */ white-space: -pre-wrap; /* Opera &lt;7 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word;">
						</div>
						<div class="col-sm-6">
							<p id="charTitle" style="display: none">Nhiệt độ.</p>
							<div class="demo-container">
								<div id="placeholder" class="demo-placeholder"></div>
							</div>
						</div>
					</div>
					
					<div style="display: none;">
						
					</div>
				</div>
			</div>	
			<!-- tab-content -->
			
		<!-- panel-body -->
	</div>
	{% endif %}
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>

<script src="/js/flot/jquery.flot.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/device-infor.js"></script>
<script>
	var wsUri = "ws://113.160.52.194:9889";
	var websocket;
	var mac_address="";
	var device_id="ALL";
	function initWebsocket()
	{
		websocket= new WebSocket(wsUri);
		testWebSocket();
	}
	function testWebSocket()
	{
		websocket = new WebSocket(wsUri);
		websocket.onopen = function(evt)
		{
			onOpen(evt)
		};
		websocket.onclose = function(evt)
		{
			onClose(evt)
		}; 
		websocket.onmessage = function(evt)
		{
			onMessage(evt)
		};
		websocket.onerror = function(evt)
		{
			onError(evt)
		};
	}
	function onOpen(evt)
	{
		doSend('{"handle":"announce"}');
		doSend('{"handle":"connect_device","device_id":"ALL"}');
	}
	function onClose(evt)
	{
	}
	function onMessage(evt)
	{
	}
	function onError(evt)
	{
	}
	function doSend(message)
	{
		websocket.send(message);
	}
	jQuery(document).ready(function() {
		initWebsocket();
		jQuery('#table2').dataTable({
			"sPaginationType" : "full_numbers"
		});
		// Chosen Select
		jQuery("select").chosen({
				'min-width' : '150px',
				'white-space' : 'nowrap',
				disable_search_threshold : 10
			});
		$('#table2 tbody tr').click(function(e)
		{
			device_id = $(this).attr('id');
			$("#table2 tbody tr[device_id][device_id='"+ device_id +"']").css('background-color','#8EE2BC');
			$("#table2 tbody tr[device_id][device_id!='"+ device_id +"']").css('background-color','#fff');
			onGetDeviceInfor(device_id);
		});
		//onGetDeviceInfor({{ devices.0.id }});
		$('#btnNhanCong').click(function(e))
		{
			doSend('{"handle":"send_cmd","device_id":'+ parseInt(device_id.toString()) +',"body":"{"type":"request","cmd":"set_button","body":{"TEST":"ON","MAIN":"OFF","RESET":"OFF"}}"}');
		}
		$('#btnDuyTu').click(function(e))
		{
			doSend('{"handle":"send_cmd","device_id":'+ parseInt(device_id.toString()) +',"body":"{"type":"request","cmd":"set_button","body":{"TEST":"OFF","MAIN":"ON","RESET":"OFF"}}"}');
		}
		$('#btnPhucHoi').click(function(e))
		{
			doSend('{"handle":"send_cmd","device_id":'+ parseInt(device_id.toString()) +',"body":"{"type":"request","cmd":"set_button","body":{"TEST":"OFF","MAIN":"OFF","RESET":"ON"}}"}');
		}
	});
	jQuery(window).load(function()
	{ 
		device_id = '{{ device_id|safe }}';
		if (!device_id)
			device_id = $("#table2 tbody tr[device_id]").first().attr('id');
		$("#table2 tbody tr[device_id][device_id='"+ device_id +"']").css('background-color','#8EE2BC');
		$("#table2 tbody tr[device_id][device_id!='"+ device_id +"']").css('background-color','#fff');
		onGetDeviceInfor(device_id);
	});
</script>
{% endblock scripts%}
