{% extends "base.html" %} 
{% block styles %}
	<style>
		.col-lg-3 label{
		width: 100%;
		}
	</style>
{% endblock %}
{% block content-header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> ĐƯỜNG NGANG <span>Thông tin các tuyến</span>
	</h2>
	<div class="breadcrumb-wrapper">
		<a class="btn btn-success" href="/railway/route/add/">Thêm tuyến đường</a>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="contentpanel">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover" id="tb_device">
					<thead>
						<tr>
							<th style="width: 20%;text-align:left;font-family: Arial,Helvetica,sans-serif;">Mã tuyến</th>
							<th style="width: 70%;text-align:left;font-family: Arial,Helvetica,sans-serif;">Tên tuyến</th>
							<th style="width: 10%;text-align:center;font-family: Arial,Helvetica,sans-serif;">Sửa|Xóa</th>
						</tr>
					</thead>
					<tbody id="tbd_device">
						{% for route in routes %}
						<tr class="odd gradeX">
							<td style="text-align: left;">{{ route.code }}</td>
							<td style="text-align: left;">{{ route.name }}</td>
							<td class="table-action" style="text-align: center;">
								<a href="/railway/route/edit/{{ route.id }}/"><i class="fa fa-pencil"></i></a>
								<a href="#" onclick="onDeleteRoute('{{ route.id }}','{{ route.code }}');" class="delete-row"><i class="fa fa-trash-o"></i></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->
		<!-- panel-body -->
	</div>
	<!-- panel -->
</div>
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/message.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/jquery.confirm.js"></script>
<script>
jQuery(document).ready(function() {
	jQuery('#tb_device').dataTable({
		"sPaginationType" : "full_numbers"
	});
	//Chosen Select
	jQuery("select").chosen({
		'min-width' : '150px',
		'white-space' : 'nowrap',
		disable_search_threshold : 10
	});
});
function onDeleteRoute(route_id,route_code){
	confirm = $.message.confirm('Bạn muốn xóa tuyến '+ route_code +' ? ');
	confirm.on('message.confirm',function(){
		window.location.replace("/railway/route/delete/"+route_id+"/");
		$.message.destroy();
	});
}
</script>
{% endblock scripts%}
